<div class="loaderDiv" loader>
    <img src="assets/images/loader.gif"/>
    <p>Excavating Awesomeness</p>
</div>
<!-- <div class="booking-information travelo-box" style="margin-bottom: 0px; padding: 20px 30px 1px;"> -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seller-header search-col no-padding">
	<h1 class="no-margin black-color seller-heading-font">Inquiries</h1>
	<div class="search-sort-div hide-search hidden-xs" ng-class="{'show-search': searchOpen}">
		<i class="fa fa-search" ng-click="searchBar()"></i>
		<input type="text" placeholder="Search" class="form-control" ng-model="mdl.searchText">
	</div>
	<div class="visible-xs">
		<div class="pull-right mobile-icons">
			<i class="fa fa-search orange-color pull-right" ng-click="mobilesearchBar()"></i>
		</div>
		<div class="arrow_box" ng-show="mobilesearchOpen">
			<input class="form-control" type="text" placeholder="Search" ng-model="mdl.searchText">
		</div>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<hr />
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding list-view">
	<!-- <div ng-repeat="item in mdl.items" class="booking-info clearfix no-lpadding no-rpadding no-bpadding">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 enquiry-name no-padding">
			<p class="name heading-text">Jessica Brown</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 enquiry-subject no-padding">
			<div class="comment-header clearfix">
				<p class="comment-title heading-text">{{item.subject}}</p>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 enquiry-action no-padding">
			<div class="comment-header clearfix">
				<div class="review-score enquiry-buttons">
					<a href="" class="pull-right desc-text">Mark as read</a>
					<button class="btn pull-right small-btn view-btn secondary-btn" ui-sref="main.account.inquiries.view({id:item.id})">View</button> -->
					<!-- <a class="pull-right clickable-icon">
						<i class="fa fa-eye"></i>
					</a> -->
					<!-- <button class="btn pull-right all-btn reply-btn" ui-sref="main.sellerAccount.inquiries.view({id:item.id})">Reply</button>
					<button class="btn all-btn " ng-click="mdl.delete(item)">Delete</button> -->
				<!-- </div>
			</div>
		</div>
	</div> -->
	<table class="table order-table hidden-xs">
		<tbody>
			<tr ng-repeat="item in mdl.items |filter:{ subject : mdl.searchText}">
				<td>
					<p class="heading-text no-margin">Jessica Brown</p>
				</td>
				<td>
					<p class="no-margin heading-text orange-text font-italic">{{item.subject}}</p>
				</td>
				<td class="text-right">
					<button class="btn all-btn view-btn white-btn" ui-sref="main.inquiries.view({id:item.id})">View</button>
					<a href="" class="desc-text orange-text btn-right">Mark as read</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="col-xs-12 no-padding visible-xs">
		<div class="col-xs-12 no-padding mobile-inquiry-list" ng-repeat="item in mdl.items |filter:{ subject : mdl.searchText}">
			<p class="heading-text">Jessica Brown</p>
			<p class="heading-text orange-text font-italic">{{item.subject}}</p>
			<button class="btn all-btn view-btn white-btn pull-left" ui-sref="main.inquiries.view({id:item.id})">View</button>
			<a href="" class="desc-text orange-text pull-right">Mark as read</a>
		</div>
	</div>
</div>
