<div class="loader-div" loader>
    <img src="assets/images/loader.gif" style="height: 100px; width:100px"/>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding booking-information travelo-box invoice-details" style="margin-bottom: 0px;">
	<!-- <div class="row order-details-row"> -->
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invoices-btn-col buyer-invoice-btn no-padding">
		<button class="btn all-btn pull-left primary-btn" ui-sref="main.account.invoices.list">
			<i class="fa fa-chevron-left"></i> &nbsp
			Back to Invoice List</button>
		<button class="btn all-btn pull-right btn-right primary-btn">Approve Invoice</button>
		<button class="btn all-btn pull-right primary-btn">Download PDF</button>
		<button style="margin-right:4px;" class="btn btn-medium pull-right dark-blue2"  process-indicator ng-click="invoicesMdl.pay(mdl.invoice)">Pay</button>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
		<hr />
	</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
			<p class="bg-danger" style="padding: 8px;">This invoice is not paid. Please pay to get order processed</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding term-description">
			<p class="heading-text no-margin">Order number: &nbsp
				<span class="no-margin" ng-if="mdl.invoice.order.id">{{mdl.invoice.order.id}}</span>
				<span class="no-margin" ng-if="!mdl.invoice.order.id">--</span>
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
			<hr />
		</div>
		<div class="row invoice-address align-address" style="margin-bottom: 0;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h2 class="heading-text">Shipping Address</h2>
				<dl class="term-description no-margin">
					<dd>{{mdl.invoice.order.shipping_address.first_name}} {{mdl.invoice.order.shipping_address.last_name}}</dd>
					<dd>{{mdl.invoice.order.shipping_address.address1+' '+mdl.invoice.order.shipping_address.address2}}</dd>
					<dd>{{mdl.invoice.order.shipping_address.city.name}}-{{mdl.invoice.order.shipping_address.zip_code}}</dd>
					<dd ng-if="mdl.invoice.order.shipping_address.country.name">{{mdl.invoice.order.shipping_address.country.name}}</dd>
					<dd ng-if="!mdl.invoice.order.shipping_address.country.name">--</dd>
				</dl>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h2 class="heading-text">Billing Address</h2>
				<dl class="term-description no-margin">
					<dd>{{mdl.invoice.order.billing_address.first_name}} {{mdl.invoice.order.billing_address.last_name}}</dd>
					<dd>{{mdl.invoice.order.billing_address.address1+' '+order.billing_address.address2}}</dd>
					<dd>{{mdl.invoice.order.billing_address.city.name}}-{{mdl.invoice.order.billing_address.zip_code}}</dd>
					<dd ng-if="mdl.invoice.order.billing_address.country.name">{{mdl.invoice.order.billing_address.country.name}}</dd>--</dd>
				</dl>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
			<hr />
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
			<h2>Details</h2>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
			<p class="orange-text">First name:</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p ng-if="mdl.invoice.order.billing_address.first_name">{{mdl.invoice.order.billing_address.first_name}}</p>
			<p ng-if="!mdl.invoice.order.billing_address.first_name">--</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
			<p class="orange-text">Last name:</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p ng-if="mdl.invoice.order.billing_address.last_name">{{mdl.invoice.order.billing_address.last_name}}</p>
			<p ng-if="!mdl.invoice.order.billing_address.last_name">--</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">
			<p class="orange-text no-margin">Phone:</p>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p class="no-margin" ng-if="mdl.invoice.order.billing_address.phone">{{mdl.invoice.order.billing_address.phone}}</p>
			<p class="no-margin" ng-if="!mdl.invoice.order.billing_address.phone">--</p>
		</div>
	<!-- </div> -->
</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding devider devider-bottom">
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invoice-details-col" ng-repeat="item in mdl.invoice.items">
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pull-center">
			<img src="http://placehold.it/80x80" alt="">
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 product-name">
			<h4>{{item.detail.name}}</h4>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12 description-col description-col-xs col-padding-small">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 border-sm">
				<p>Rented For <span class="pull-right">12 days</span></p>
				<p>Order Type <span class="pull-right">Postpaid</span></p>
				<p>Quantity <span class="pull-right">3</span></p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 right-col">
				<p>Shipping <span class="pull-right">$100</span></p>
				<p>Overuse <span class="pull-right">$178</span></p>
				<p>Additional <span class="pull-right">$230</span></p>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-12 product-name pull-center product-name-xs no-padding">
			<h4>${{item.subtotal | number}}</h4>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding devider-solid no-margin"></div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-total invoice-cart-total">
		<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
			<div class="description">
				<h4 style="margin-top: 28px;">Cart Total</h4>
			</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 add-cost">
			<p>Shipping Cost <span class="pull-right">${{mdl.invoice.shipping_charge | number}}</span></p>
			<p>Overusage<span class="pull-right">${{mdl.invoice.shipping_charge | number}}</span></p>
			<p>Additional<span class="pull-right">${{mdl.invoice.shipping_charge | number}}</span></p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 total-cost" style="margin-top: 28px;">
			<div>
				${{mdl.invoice.total | number}}
			</div>
		</div>
	</div>
