<div class="add-equipment">
    <form validate-form name="addEquiMdl.form" novalidate ng-submit="updateProfile()" class="edit-profile-form">
        <h2>Add New Jobsite</h2>
        <div class="col-sm-9 no-padding no-float">
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Jobsite Name</label>
                    <input type="text" ng-model="addEquiMdl.data.name" name="jobsitename" required class="input-text full-width" placeholder="Enter Jobsite Name">
                </div>
                <div class="col-sms-6 col-sm-6">
                    <label>Kind</label>
                    <div class="selector">
                        <select ng-model="addEquiMdl.category1" ng-options="cat.id as cat.name for cat in addEquiMdl.categories1 " class="full-width">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Address Line 1</label>
                    <input type="text" name="address line 1" required class="input-text full-width" placeholder="Address Line 1">
                </div>
                <div class="col-sms-6 col-sm-6">
                    <label>Address Line 2</label>
                    <input type="text" name="address line 2" class="input-text full-width" placeholder="Address Line 2">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Country</label>
                    <div class="selector">
                        <select class="full-width">
                        </select>
                    </div>
                </div>
                <div class="col-sms-6 col-sm-6">
                    <label>State</label>
                    <div class="selector">
                        <select class="full-width">
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>City</label>
                    <div class="selector">
                        <select class="full-width">
                            <option value="'1'">cityname</option>
                            <option value="'2'">cityname</option>
                        </select>
                    </div>
                </div>
                <div class="col-sms-6 col-sm-6">
                    <label>Zip Code</label>
                    <input type="text" class="input-text full-width">
                </div>
            </div>



            <div class="from-group">
                <button type="submit" class="btn-medium col-sms-6 col-sm-4">ADD JOBSITE</button>
                <button class="btn-medium btn-default col-sms-6 col-sm-4" ui-sref="main.account.jobsites.list">CANCEL</button>
            </div>

        </div>
    </form>
</div>