<div style="margin-top: 45px;">
<div class="row">
<div class="col-sm-4 col-md-3">
    <h4 class="search-results-title"><i class="soap-icon-search"></i><b>{{searchMdl.resultCount}}</b> results found.
    </h4>

    <div ng-init="filterEx=[false,false,false,false]" class="toggle-container filters-container">
        <div class="panel style1 arrow-right">
            <h4 class="panel-title">
                <a ng-click="filterEx[0]=!filterEx[0]"
                   ng-class="{'collapsed':filterEx[0]}">Price</a>
            </h4>

            <div class="panel-collapse filter-collapse-open" ng-class="{'filter-collapse-close':filterEx[0]}">
                <div class="panel-content">
                    <div id="price-range"></div>
                    <br/>
                    <span class="min-price-label pull-left"></span>
                    <span class="max-price-label pull-right"></span>

                    <div class="clearer"></div>
                </div>
                <!-- end content -->
            </div>
        </div>

        <div class="panel style1 arrow-right">
            <h4 class="panel-title">
                <a   ng-click="filterEx[1]=!filterEx[1]" ng-class="{'collapsed':filterEx[1]}">User
                    Rating</a>
            </h4>

            <div ng-class="{'filter-collapse-close':filterEx[1]}" class="panel-collapse filter-collapse-open filters-container">
                <div class="panel-content">
                    <div id="rating" class="five-stars-container editable-rating"></div>
                    <br/>
                    <small>2458 REVIEWS</small>
                </div>
            </div>
        </div>

        <div class="panel style1 arrow-right">
            <h4 class="panel-title">
                <a ng-click="filterEx[2]=!filterEx[2]" ng-class="{'collapsed':filterEx[2]}">Availability
                    Locations</a>
            </h4>

            <div ng-class="{'filter-collapse-close':filterEx[2]}" class="panel-collapse availabilty-collapse-open">
                <div class="panel-content">
                    <ul class="check-square filters-option">
                        <li ng-class="{'active':searchMdl.locationFacets.allSelected}">
                            <a ng-click="searchMdl.locationFacets.allSelected=!searchMdl.locationFacets.allSelected;locationFilterChanged('all')">All</a>
                        </li>
                        <li ng-class="{'active':lf.selected}" ng-repeat="lf in searchMdl.locationFacets">
                            <a ng-click="lf.selected=!lf.selected;locationFilterChanged(lf)">{{lf.location.city.name}},{{lf.location.state.name}}
                                    <small>({{lf.count}})</small>
                            </a>

                        </li>

                    </ul>
                    <!--<a class="button btn-mini">MORE</a>-->
                </div>
            </div>
        </div>

        <div class="panel style1 arrow-right">
            <h4 class="panel-title">
                <a   ng-click="filterEx[3]=!filterEx[3]" ng-class="{'collapsed':filterEx[3]}"
                   >Features</a>
            </h4>

            <div ng-class="{'features-collapse-close':filterEx[3]}" class="panel-collapse features-collapse-open">
                <div class="panel-content">
                    <ul class="check-square filters-option">
                        <li ng-class="{'active':feature.selected}" ng-repeat="feature in searchMdl.features">
                            <a ng-click="feature.selected=!feature.selected">{{feature.name}}
                             <small>({{feature.count}})</small>
                            </a>
                        </li>

                    </ul>
                    <!--<a class="button btn-mini">MORE</a>-->
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-sm-8 col-md-9">
    <div class="sort-by-section clearfix">
        <h4 class="sort-by-title block-sm">Sort results by:</h4>
        <ul class="sort-bar clearfix block-sm">
            <li ng-class="{'active':searchMdl.sortBy=='name'}" ng-click="searchMdl.sort('name')" class="sort-by-name"><a
                    class="sort-by-container"><span>name</span></a></li>
            <li ng-class="{'active':searchMdl.sortBy=='daily_price'}" ng-click="searchMdl.sort('daily_price')"
                class="sort-by-price"><a class="sort-by-container"><span>price</span></a></li>
            <li class="clearer visible-sms"></li>
            <!--<li class="sort-by-rating"><a class="sort-by-container"><span>rating</span></a>
            </li>-->
            <!--<li class="sort-by-popularity"><a class="sort-by-container"><span>popularity</span></a>
            </li>-->
        </ul>

        <ul class="swap-tiles clearfix block-sm">

            <li class="swap-list" ng-class="{'active':searchMdl.display=='list'}">
                <a ng-click="searchMdl.display='list'"><i class="soap-icon-list"></i></a>
            </li>
            <li class="swap-grid" ng-class="{'active':searchMdl.display=='grid'}">
                <a ng-click="searchMdl.display='grid'"><i class="soap-icon-grid"></i></a>
            </li>
            <li class="swap-block" ng-class="{'active':searchMdl.display=='map'}">
                <a ng-click="searchMdl.display='map'"><i class="soap-icon-departure"></i></a>
            </li>
        </ul>
    </div>
    <div ng-show="searchMdl.display=='list'" class="hotel-list listing-style3 hotel">
        <article class="box" ng-repeat="pro in searchMdl.products track by pro.id">
            <figure class="col-sm-5 col-md-4">
                <a ui-sref="main.equiDetails({id:pro.id})" class="hover-effect">
                    <img width="270" height="160" alt="" ng-src="{{(pro.images[0].url) || 'http://placehold.it/270x160'}}">
                </a>
            </figure>
            <div class="details col-sm-7 col-md-8">
                <div>
                    <div>
                        <h4 ui-sref="main.equiDetails({id:pro.id})" class="pointerhover box-title">{{pro.name}}
                            <small><i class="soap-icon-departure yellow-color"></i> {{pro.location.city.name}},{{pro.location.state.name}}</small>
                        </h4>

                    </div>
                    <div>
                        <div class="five-stars-container">
                            <span class="five-stars" style="width: 80%;"></span>
                        </div>
                        <span class="review">270 reviews</span>
                    </div>
                </div>
                <div>
                    <div class="price-slot">
                        <span class="price"><small>Daily</small>${{pro.daily_price}}</span>
                        <span class="price"><small>Weekly</small>${{pro.weekly_price}}</span>
                        <span class="price"><small>Monthly</small>${{pro.monthly_price}}</span>
                    </div>
                    <div>

                        <a class="button btn-small full-width text-center" ui-sref="main.equiDetails({id:pro.id})" title="">Reserve</a>
                        <a class="button btn-small full-width text-center" ui-sref="main.equiDetails({id:pro.id})" title="">View on Map
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="hotel-list" ng-show="searchMdl.display=='grid'">
        <div class="row image-box hotel listing-style1">
            <div class="col-sm-6 col-md-4" ng-repeat="pro in searchMdl.products track by pro.id">
                <article class="box">
                    <figure>
                        <a ui-sref="main.equiDetails({id:pro.id})" class="hover-effect popup-gallery">
                            <img width="270" height="160" alt="" ng-src="{{(pro.images[0].url) || 'http://placehold.it/270x160'}}">
                        </a>
                    </figure>
                    <div class="details">
                        <h4 class="box-title" ui-sref="main.equiDetails({id:pro.id})">{{pro.name}}</h4>

                        <div class="feedback">
                            <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container"
                                 title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                            <span class="review">170 reviews</span>
                        </div>
                        <div class="grid-price-panel">
                            <span class="price"><small>Daily</small>${{pro.daily_price| number : 0}}</span>
                            <span class="price"><small>Weekly</small>${{pro.weekly_price | number : 0}}</span>
                            <span class="price"><small>Monthly</small>${{pro.monthly_price | number : 0}}</span>
                        </div>
                        <div class="action">
                            <a class="button btn-small" ui-sref="main.equiDetails({id:pro.id})">RESERVE</a>
                            <a class="button btn-small yellow popup-map"  ui-sref="main.equiDetails({id:pro.id})">VIEW
                                ON MAP</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>


    <a ng-click="searchMdl.next()" class="uppercase full-width button btn-large" ng-show="searchMdl.nextAvailable">
        <span ng-show="searchMdl.working" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        load more listing
    </a>
</div>
</div>
</div>

