<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">40 matches found for "Caterpillar Track Excavator"</h2>
        </div>
        <ul class="breadcrumbs pull-right">
            <li><a href="#">HOME</a></li>
            <li class="active">Search Results</li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="container">
        <div id="main">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <h4 class="search-results-title"><i class="soap-icon-search"></i><b>1,984</b> results found.</h4>

                    <div ng-init="filterEx=[true,true,true,true,true]" class="toggle-container filters-container">
                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse"  ng-click="filterEx[0]=!filterEx[0]" ng-class="{'collapsed':filterEx[0]}">Price</a>
                            </h4>

                            <div  class="panel-collapse" ng-class="{'collapse':filterEx[0]}">
                                <div class="panel-content">
                                    <div id="price-range"></div>
                                    <br/>
                                    <span class="min-price-label pull-left"></span>
                                    <span class="max-price-label pull-right"></span>

                                    <div class="clearer"></div>
                                </div>
                                <!-- end content -->
                            </div>
                        </div>

                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" ng-click="filterEx[1]=!filterEx[1]" ng-class="{'collapsed':filterEx[1]}">User Rating</a>
                            </h4>

                            <div  ng-class="{'collapse':filterEx[1]}" class="panel-collapse  filters-container">
                                <div class="panel-content">
                                    <div class="five-stars-container editable-rating"></div>
                                    <br/>
                                    <small>2458 REVIEWS</small>
                                </div>
                            </div>
                        </div>

                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" ng-click="filterEx[2]=!filterEx[2]" ng-class="{'collapsed':filterEx[2]}">Availability
                                    Locations</a>
                            </h4>

                            <div ng-class="{'collapse':filterEx[2]}" class="panel-collapse">
                                <div class="panel-content">
                                    <ul class="check-square filters-option">
                                        <li><a href="#">All
                                            <small>(722)</small>
                                        </a></li>
                                        <li><a href="#">Location Name
                                            <small>(982)</small>
                                        </a></li>
                                        <li><a href="#">Location Name
                                            <small>(127)</small>
                                        </a></li>
                                        <li class="active"><a href="#">Location Name
                                            <small>(222)</small>
                                        </a></li>
                                        <li><a href="#">Location Name
                                            <small>(158)</small>
                                        </a></li>
                                        <li><a href="#">Location Name
                                            <small>(439)</small>
                                        </a></li>
                                        <li><a href="#">Location Name
                                            <small>(52)</small>
                                        </a></li>
                                    </ul>
                                    <!--<a class="button btn-mini">MORE</a>-->
                                </div>
                            </div>
                        </div>

                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" ng-click="filterEx[3]=!filterEx[3]" ng-class="{'collapsed':filterEx[3]}" class="collapsed">Features</a>
                            </h4>

                            <div ng-class="{'collapse':filterEx[3]}" class="panel-collapse">
                                <div class="panel-content">
                                    <ul class="check-square filters-option">
                                        <li><a href="#">Show All
                                            <small>(722)</small>
                                        </a></li>
                                        <li><a href="#">Feature name
                                            <small>(982)</small>
                                        </a></li>
                                        <li class="active"><a href="#">Feature name
                                            <small>(127)</small>
                                        </a></li>
                                        <li class="active"><a href="#">Feature name
                                            <small>(222)</small>
                                        </a></li>
                                        <li><a href="#">Feature name
                                            <small>(158)</small>
                                        </a></li>
                                        <li><a href="#">Feature name
                                            <small>(439)</small>
                                        </a></li>
                                        <li><a href="#">Feature name
                                            <small>(52)</small>
                                        </a></li>
                                    </ul>
                                    <!--<a class="button btn-mini">MORE</a>-->
                                </div>
                            </div>
                        </div>

                        <div class="panel style1 arrow-right">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" ng-click="filterEx[4]=!filterEx[4]" ng-class="{'collapsed':filterEx[4]}" class="collapsed">Modify
                                    Search</a>
                            </h4>

                            <div ng-class="{'collapse':filterEx[4]}" class="panel-collapse">
                                <div class="panel-content">
                                    <form method="post">
                                        <div class="form-group">
                                            <label>Which Equipment you want to rent?</label>
                                            <input type="text" class="input-text full-width" placeholder=""
                                                   value="Caterpillar Track Excavator"/>
                                        </div>
                                        <div class="form-group">
                                            <label>From</label>

                                            <div class="datepicker-wrap">
                                                <input type="text" name="date_from" class="input-text full-width"
                                                       placeholder="mm/dd/yy"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>To</label>

                                            <div class="datepicker-wrap">
                                                <input type="text" name="date_to" class="input-text full-width"
                                                       placeholder="mm/dd/yy"/>
                                            </div>
                                        </div>
                                        <br/>
                                        <button class="btn-medium icon-check uppercase full-width">search again</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="sort-by-section clearfix">
                        <h4 class="sort-by-title block-sm">Sort results by:</h4>
                        <ul class="sort-bar clearfix block-sm">
                            <li class="sort-by-name"><a class="sort-by-container" ><span>name</span></a></li>
                            <li class="sort-by-price"><a class="sort-by-container" ><span>price</span></a></li>
                            <li class="clearer visible-sms"></li>
                            <li class="sort-by-rating active"><a class="sort-by-container" ><span>rating</span></a>
                            </li>
                            <li class="sort-by-popularity"><a class="sort-by-container" ><span>popularity</span></a>
                            </li>
                        </ul>

                        <ul class="swap-tiles clearfix block-sm">

                            <li class="swap-list" ng-class="{'active':searchMdl.display=='list'}">
                                <a ng-click="searchMdl.display='list'"><i class="soap-icon-list"></i></a>
                            </li>
                            <li class="swap-grid" ng-class="{'active':searchMdl.display=='grid'}">
                                <a ng-click="searchMdl.display='grid'"><i class="soap-icon-grid"></i></a>
                            </li>
                            <li class="swap-block" ng-class="{'active':searchMdl.display=='map'}">
                                <a ng-click="searchMdl.display='map'"><i class="soap-icon-block"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="searchMdl.display=='list'" class="hotel-list listing-style3 hotel">
                        <article class="box" ng-repeat="i in [0,1,2]">
                            <figure class="col-sm-5 col-md-4">
                                <a title="" href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details col-sm-7 col-md-8">
                                <div>
                                    <div>
                                        <h4 class="box-title">Caterpillar Track Excavator 330CL<small><i class="soap-icon-departure yellow-color"></i> Nobleiron HQ, Houston</small></h4>
                                        <div class="amenities">
                                            <i class="soap-icon-wifi circle"></i>
                                            <i class="soap-icon-fitnessfacility circle"></i>
                                            <i class="soap-icon-fork circle"></i>
                                            <i class="soap-icon-television circle"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="five-stars-container">
                                            <span class="five-stars" style="width: 80%;"></span>
                                        </div>
                                        <span class="review">270 reviews</span>
                                    </div>
                                </div>
                                <div>
                                    <p>Nunc cursus libero purus ac congue ar lorem cursus ut sed vitae pulvinar massa idend porta nequetiam elerisque mi id, consectetur adipi deese cing elit maus fringilla bibe endum.</p>
                                    <div>
                                        <span class="price"><small>Daily</small>$620</span>
                                        <a class="button btn-small full-width text-center" title="">Reserve</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="hotel-list" ng-show="searchMdl.display=='grid'">
                        <div class="row image-box hotel listing-style1">
                            <div class="col-sm-6 col-md-4" ng-repeat="i in [0,1,2,3,4,5,6,7,8]">
                        <article class="box">
                            <figure>
                                <a href="ajax/slideshow-popup.html" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                            </figure>
                            <div class="details">
                                <span class="price"><small>avg/night</small>$120</span>
                                <h4 class="box-title">Forte Do Vale<small>Albufeira</small></h4>
                                <div class="feedback">
                                    <div data-placement="bottom" data-toggle="tooltip" class="five-stars-container" title="4 stars"><span style="width: 80%;" class="five-stars"></span></div>
                                    <span class="review">170 reviews</span>
                                </div>
                                <p class="description">Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.</p>
                                <div class="action">
                                    <a class="button btn-small" href="hotel-detailed.html">SELECT</a>
                                    <a class="button btn-small yellow popup-map" href="#" data-box="37.089072, -8.247880">VIEW ON MAP</a>
                                </div>
                            </div>
                        </article>
                    </div>
                        </div>
                    </div>


                    <a href="#" class="uppercase full-width button btn-large">load more listing</a>
                </div>
            </div>
        </div>
    </div>
</section>
