<div class="travelo-signup-box travelo-box">
    <div class="login-social">
        <a class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
        <a class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
    </div>
    <div class="seperator"><label>OR</label></div>
    <div ng-init="emailSignUp=0" class="simple-signup">
        <div class="text-center signup-email-section">
            <a ng-click="emailSignUp=1" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
        </div>
        <p class="description">By signing up, I agree to Marketplace Terms of Service &amp; Privacy Policy.</p>
    </div>
    <div ng-show="emailSignUp" class="email-signup">
        <form validate-form name="signUpMdl.form" novalidate="">
            <div class="form-group">
                <input name="name" ng-model="signUpMdl.data.fullname" type="text" required class="input-text full-width" placeholder="first and last name">
            </div>

            <div class="form-group">
                <input name="email" ng-model="signUpMdl.data.email" required type="text" class="input-text full-width" placeholder="email address">
            </div>
            <div class="form-group">
                <input type="text"  name="phone" ng-model="signUpMdl.data.phone" required class="input-text full-width" placeholder="phone">
            </div>

            <div class="form-group">
                <input type="text"  name="zipcode" ng-model="signUpMdl.data.zip_code" required class="input-text full-width" placeholder="zipcode">
            </div>

            <div class="form-group">
                <input type="password" name="password" ng-model="signUpMdl.data.password" required class="input-text full-width" placeholder="password">
            </div>
            <div class="form-group">
                <input type="password" name="confirmPassword" ng-model="signUpMdl.data.confirmPassword" required class="input-text full-width" placeholder="confirm password">
            </div>


            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Tell me about Marketplace news
                    </label>
                </div>
            </div>
            <div class="form-group">
                <p class="description">By signing up, I agree to Marketplace Terms of Service &amp; Privacy Policy.</p>
            </div>
            <button type="submit" class="full-width btn-medium" ng-click="signUpMdl.signUp()">SIGNUP</button>
        </form>
    </div>
    <div class="seperator"></div>
    <p>Already a Marketplace member? <a class="goto-login soap-popupbox" ng-click="signUpMdl.login()">Login</a></p>
</div>