
<div class="edit-profile">
    <form validate-form name="editProfileMdl.form" novalidate class="edit-profile-form">
        <h2>Personal Details</h2>
        <div class="col-sm-9 no-padding no-float shortcode">
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="editProfileMdl.user.fullname" required class="input-text full-width" placeholder="name">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Phone</label>
                    <input type="text" name="phone" ng-model="editProfileMdl.user.phone" required class="input-text full-width" placeholder="phone">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Store name</label>
                    <input type="text" name="storename" ng-model="editProfileMdl.user.store_name" required class="input-text full-width" placeholder="store name">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Zip code</label>
                    <input type="text" name="zipcode" ng-model="editProfileMdl.user.zip_code" required class="input-text full-width" placeholder="zip code">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Time zone</label>
                    <input type="text" name="timezone" disabled ng-model="editProfileMdl.user.timezone" required class="input-text full-width" placeholder="zip code">
                </div>
            </div>
            <h5 class="skin-color">Credit Form</h5>
            <div class="row form-group">
                <div class="col-sms-12 col-sm-6 no-float">
                    <div class="fileinput button" ngf-multiple="true" ngf-select ngf-change="">  Credit Form</div>

                    <br/>
                    <div ngf-drop ng-model="" class="upload-drop-zone"
                         ngf-drag-over-class="drop" ngf-multiple="true" ngf-allow-dir="false"
                            >Drop Form here</div>
                    <div ng-if="addEquiMdl.filesToUpload.length">
                        Selected File:
                        <div ng-repeat="file in addEquiMdl.filesToUpload">
                            <div>
                                <div>{{file.name}}</div>
                                <div>
                                    <progress max="100" value="{{file.progress || 0}}">{{file.status}}</progress>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
            </div>
            <hr>
            <div class="from-group block">
                <button type="submit"  ng-click="updateProfile()" class="button btn-medium orange">UPDATE</button>
                <button ui-sref="main.account.profile.view" class="button btn-medium silver">CANCEL</button>
            </div>

        </div>
    </form>
</div>