
<div class="edit-profile">
    <form validate-form name="editProfileMdl.form" novalidate class="edit-profile-form">
        <h2>Personal Details</h2>
        <div class="col-sm-9 no-padding no-float">
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="editProfileMdl.user.fullname" required class="input-text full-width" placeholder="name">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Phone</label>
                    <input type="text" name="phone" ng-model="editProfileMdl.user.phone" required class="input-text full-width" placeholder="phone">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Store name</label>
                    <input type="text" name="storename" ng-model="editProfileMdl.user.store_name" required class="input-text full-width" placeholder="store name">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Zip code</label>
                    <input type="text" name="zipcode" ng-model="editProfileMdl.user.zip_code" required class="input-text full-width" placeholder="zip code">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Time zone</label>
                    <input type="text" name="timezone" disabled ng-model="editProfileMdl.user.timezone" required class="input-text full-width" placeholder="zip code">
                </div>
            </div>



            <hr>



            <div class="from-group">
                <button type="submit"  ng-click="updateProfile()" class="btn-medium col-sms-6 col-sm-4">UPDATE</button>
                <button ui-sref="main.account.profile.view" class="btn-medium btn-default col-sms-6 col-sm-4">CANCEL</button>
            </div>

        </div>
    </form>
</div>