<!--<div class="loaderDiv" loader>
  <i class="fa fa-spinner fa-pulse"></i>
</div>-->
<!-- new landing header start -->
<header scroll id="header" class="navbar-static-top style2">
    <div class="topnav">
		<div class="container">
			<ul class="quick-menu pull-right clearfix">
				<li class="menu-item-has-children pointerhover">
					<a>Need Help ? Call (24X7): 1-800-123-0000</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="animated" ng-class="{'fadeInDown header-on-scroll': boolChangeClass}">
		<div class="top-header landing-top-header">
			<nav class="navbar no-border">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand pointerhover" ui-sref="home">
							<h4 class="white-color big-font">MARKET<span class="orange-color">PLACE</span></h4>
							<!-- <img ui-sref="home" src="assets/images/logo.png"  /> -->
						</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li class="not-user" ng-if="!isLoggedIn()">
								<a ng-click="openLogin()" class="soap-popupbox pointerhover">Login</a>
							</li>
							<li class="not-user" ng-if="!isLoggedIn()">
								<a ng-click="openSignUp()" class="soap-popupbox pointerhover">Register</a>
							</li>
							<li class="not-user visible-xs visible-sm" ng-click="moreEquipments()">
								<a class="soap-popupbox pointerhover">Equipments</a>
							</li>
							<li class="not-user notification-li" ng-if="isLoggedIn()">
								<a href="">
									<i class="fa fa-bell-o big-font hidden-xs"></i>
									<span class="visible-xs">Notifications</span>
									<div class="notification hidden-xs">1</div>
								</a>
							</li>
							<li class="not-user notification-li" ng-if="isLoggedIn()">
								<a href="">
									<i class="fa fa-envelope-o big-font hidden-xs"></i>
									<span class="visible-xs">Messages</span>
									<div class="notification hidden-xs">2</div>
								</a>
							</li>
							<li class="not-user notification-li" ng-if="isLoggedIn()">
								<a ui-sref="main.cart">
									<i class="fa fa-shopping-cart big-font hidden-xs"></i>
									<span class="visible-xs">Shopping Cart</span>
									<div class="notification hidden-xs">{{rmodel.cartCount || 0}}</div>
								</a>
							</li>
							<div class="visible-xs account-list-xs" ng-if="isLoggedIn()">
								<li>
									<a ui-sref="main.account.dashboard">My Buyer Dashboard</a>
								</li>
								<li>
									<a ui-sref="main.sellerAccount.dashboard">My Seller Dashboard</a>
								</li>
								<li>
									<a ui-sref="main.account.profile.view" title="profile-settings">Account & Setting</a>
								</li>
								<li>
									<a href="" ng-click="logout()" title="signout">Signout</a>
								</li>
							</div>
							<li class="dropdown hidden-xs landing-dropdown" ng-if="isLoggedIn()">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<img src="/assets/images/avtar.png">&nbsp
									Account <span class="caret"></span>
								</a>
								<ul class="menu mini dropdown-menu">
									<li><a ui-sref="main.account.dashboard">My Buyer Dashboard</a></li>
									<li><a ui-sref="main.sellerAccount.dashboard">My Seller Dashboard</a></li>
									<li><a ui-sref="main.account.profile.view" title="profile-settings">Account & Setting</a></li>
									<li><a href="" ng-click="logout()" title="signout">Signout</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="top-header landing-top-header landing-submenu hidden-sm hidden-xs">
			<nav class="navbar no-border">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed submenu-toggle-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
						<ul class="nav navbar-nav no-float pull-center submenu-ul">
              <li class="not-user" ng-repeat="item in mdl.categories | limitTo : 6" ui-sref="main.search({category:item.id})">
                <a class="soap-popupbox pointerhover">{{item.name}}</a>
              </li>

							<li class="dropdown landing-dropdown" ng-click="moreEquipments()">
								<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 10px 0;">More <span class="caret"></span>
								</a>
							</li>
						</ul>
						<div class="container hide-more top-header more-equip-container" ng-class="{'visible-more': isMore}">
								<div class="row hidden-sm hidden-xs no-margin">
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-center white-color more-equip-col" ng-repeat="item in mdl.categories | slice:6:mdl.categories.length" ui-sref="main.search({category:item.id})">
										<h3 class="heading-text"><a href="">{{item.name}}</a></h3>
									</div>
								</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<div class="container-fluid hide-more top-header more-equip-container hidden-lg hidden-md more-equip-xs header-on-scroll" ng-class="{'visible-more': isMore}">
		<div class="row">
			<div class="col-xs-12">
				<i class="fa fa-times pull-right white-color" ng-click="closeEquipment()"></i>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-center white-color more-equip-col">
				<h3 class="heading-text">Aerial Lifts</h3>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-center white-color more-equip-col">
				<h3 class="heading-text">Aerial Lifts</h3>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-center white-color more-equip-col">
				<h3 class="heading-text">Aerial Lifts</h3>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
				<p>
					<a href="">
						Some Name
					</a>
				</p>
			</div>
		</div>
	</div>
</header>
<!-- new landing header end -->
<section id="content" class="slideshow-bg landing-content">
	<div id="slideshow">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="slidebg" style="background-image: url('../assets/images/bg.jpg');"></div>
					<div class="overlay"></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="container landing-top-content">
		<div id="main" style="margin-top: 10%;">
			<h1 class="page-title white-color pull-center">Buy or Rent Equipments with us in Comfort !</h1>
			<h2 class="page-description col-md-12 no-float white-color pull-center">We're bringing you a modern, comfortable and easy way	to rent, buy and sell equipments online.
			</h2>
		</div>
		<div class="search-box-wrapper style2">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="margin-bottom: 10%;">
				<div class="search-box">
					<form method="post">
						<div class="row">
							<div class="form-group col-lg-10 col-md-9 col-sm-9 col-xs-12">
								<angucomplete-alt placeholder="Equipment Name, Part Name, etc.." pause="400" selected-object="mdl.searchObj" remote-api-handler="mdl.searchHelper" remote-url-data-field="data" title-field="name" input-changed="mdl.inputChanged" input-class="input-text full-width"/>
							</div>
							<div class="form-group col-lg-2 col-md-3 col-sm-3 col-xs-12 no-lpadding">
								<button type="submit" class="full-width btn all-btn search-button" ng-click="mdl.search()">Search Now</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"></div>
		</div>
	</div>
</section>
<section class="no-padding gray-area">
	<div class="container section landing-section">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-center">
				<h2 class="landing-headings">Browse Equipments from our list</h2>
				<div class="line"></div>
			</div>
		</div>
		<div class="row image-box style10 browse-equip-row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-padding-small browse-equip-col" ng-repeat="item in mdl.categories| limitTo : 8" >
          <article class="box pointerhover landing-browse-equip" ui-sref="main.search({category:item.id})">
						<figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1">
							<a href="" title="" class="hover-effect"><img ng-src="{{item.image.url || 'http://placehold.it/270x160'}}" alt="" width="270" height="160" /></a>
						</figure>
						<div class="details">
							<h4 class="box-title">{{item.name}}</h4>
						</div>
					</article>
				</div>


			</div>
			<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
				<div class="col-lf-3 col-md-3 col-sm-3 col-xs-12 col-padding-small browse-equip-col">
					<article class="box pointerhover landing-browse-equip">
						<figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1">
							<a href="" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
						</figure>
						<div class="details">
							<h4 class="box-title">Aerial Lifts</h4>
						</div>
					</article>
				</div>
				<div class="col-lf-3 col-md-3 col-sm-3 col-xs-12 col-padding-small browse-equip-col">
					<article class="box pointerhover landing-browse-equip">
						<figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1">
							<a href="" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
						</figure>
						<div class="details">
							<h4 class="box-title">Earth Moving</h4>
						</div>
					</article>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-padding-small browse-equip-col">
					<article class="box pointerhover landing-browse-equip">
						<figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1">
							<a href="" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
						</figure>
						<div class="details">
							<h4 class="box-title">Forklifts & Material Handling</h4>
						</div>
					</article>
				</div>
				<div class="col-lf-3 col-md-3 col-sm-3 col-xs-12 col-padding-small browse-equip-col">
					<article class="box pointerhover landing-browse-equip">
						<figure class="animated fadeInDown" data-animation-type="fadeInDown" data-animation-duration="1">
							<a href="" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt="" width="270" height="160" /></a>
						</figure>
						<div class="details">
							<h4 class="box-title">Concrete & Masonry</h4>
						</div>
					</article>
				</div>
			</div>-->
		</div>
	</div>
</section>
<section class="features-section hidden-sm hidden-xs">
	<div class="section landing-section landing-features-section">
		<div class="container description text-center">
			<!-- <div class="pull-center">
				<h2 class="landing-headings">Our Features</h2>
				<div class="line"></div>
			</div> -->
			<div class="travelo-process">
				<img src="../assets/images/travelo_process.png" alt="">
				<div class="process first icon-box style12">
					<div class="details animated fadeInUp" data-animation-type="fadeInUp" data-animation-delay="1">
						<h4>Explore Equipments</h4>
						<p class="hidden-xs">Explore more than 3000 equipments online for your infrastructure projects</p>
					</div>
					<div class="icon-wrapper animated slideInLeft" data-animation-type="slideInLeft" data-animation-delay="0" style= "animation-delay: 0s">
						<i class="soap-icon-beach circle"></i>
					</div>
				</div>
				<div class="process second icon-box style12">
					<div class="icon-wrapper animated slideInRight" data-animation-type="slideInRight" data-animation-delay="1.5" style= "animation-delay: 1.5s">
						<i class="soap-icon-availability circle"></i>
					</div>
					<div class="details animated fadeInUp" data-animation-type="fadeInUp" data-animation-delay="2.5" style= "animation-delay: 2.5s">
						<h4>Check Availability</h4>
						<p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</div>
				<div class="process third icon-box style12">
					<div class="icon-wrapper animated slideInRight" data-animation-type="slideInRight" data-animation-delay="2" style= "animation-delay: 2s">
						<i class="soap-icon-stories circle"></i>
					</div>
					<div class="details animated fadeInUp" data-animation-type="fadeInUp" data-animation-delay="3"  style= "animation-delay: 3s">
						<h4>Pay and Get Delivered</h4>
						<p class="hidden-xs">Pay online and get delivered hassle-free at your jobsite</p>
					</div>
				</div>
				<div class="process forth icon-box style12">
					<div class="details animated fadeInUp" data-animation-type="fadeInUp" data-animation-delay="4.5"  style= "animation-delay: 4.5s">
						<h4>Reserve Equipment Online</h4>
						<p class="hidden-xs">Reserve Equipments to use directly onsite and get it delivered to your jobsite</p>
					</div>
					<div class="icon-wrapper animated slideInLeft" data-animation-type="slideInLeft" data-animation-delay="3.5" style= "animation-delay: 3.5s">
						<i class="soap-icon-plane-left takeoff-effect1 circle"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <section>
	<div class="section">
		<div class="container">
			<div class="description text-center">
				<h1>Our Customers Favourite Destinations</h1>
				<p>Nunc cursus libero purusac congue arcu cursus utsed vitae pulvinar massa idporta neque.</p>
				<p>Etiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
			</div>
			<div class="image-carousel style3 flex-slider" data-item-width="170" data-item-margin="30">
				<ul class="slides image-box style9">
					<li>
						<article class="box">
							<figure>
								<a href="" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
							</figure>
							<div class="details">
								<h4 class="box-title">Majorca<small>(54 reviews)</small></h4>
								<a href="" title="" class="button">MORE</a>
							</div>
						</article>
					</li>
					<li>
						<article class="box">
							<figure>
								<a href="" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
							</figure>
							<div class="details">
								<h4 class="box-title">Tenerife<small>(524 reviews)</small></h4>
								<a href="" title="" class="button">MORE</a>
							</div>
						</article>
					</li>
					<li>
						<article class="box">
							<figure>
								<a href="" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
							</figure>
							<div class="details">
								<h4 class="box-title">Costa Blanca<small>(24 reviews)</small></h4>
								<a href="" title="" class="button">MORE</a>
							</div>
						</article>
					</li>
					<li>
						<article class="box">
							<figure>
								<a href="" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
							</figure>
							<div class="details">
								<h4 class="box-title">Dalaman<small>(12 reviews)</small></h4>
								<a href="" title="" class="button">MORE</a>
							</div>
						</article>
					</li>
					<li>
						<article class="box">
							<figure>
								<a href="" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
							</figure>
							<div class="details">
								<h4 class="box-title">Algarve<small>(34 reviews)</small></h4>
								<a href="" title="" class="button">MORE</a>
							</div>
						</article>
					</li>
					<li>
						<article class="box">
							<figure>
								<a href="" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
							</figure>
							<div class="details">
								<h4 class="box-title">Ibiza<small>(64 reviews)</small></h4>
								<a href="" title="" class="button">MORE</a>
							</div>
						</article>
					</li>
					<li>
						<article class="box">
							<figure>
								<a href="" title="" class="hover-effect yellow"><img src="http://placehold.it/170x160" alt="" width="170" height="160" /></a>
							</figure>
							<div class="details">
								<h4 class="box-title">Majorca<small>(54 reviews)</small></h4>
								<a href="" title="" class="button">MORE</a>
							</div>
						</article>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section> -->
<section class="hidden-xs">
	<div class="container section landing-section">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="pull-center">
					<h2 class="landing-headings">Recently Added Equipments</h2>
					<div class="line"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="carousel-example-generic" class="carousel slide landing-carousel-slider carousel-showmanymoveone" data-ride="carousel" data-type="multi" data-interval="0">
				<div class="carousel-inner " role="listbox">

            <div class="item"  ng-class="{active:(activeIndex?activeIndex==$index:$first)}" ng-repeat="product in mdl.recent ">

              <div class="col-xs-12 col-sm-6 col-md-3 landing-img-carousel">
                <article class="box">
                  <figure>
                    <a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
                  </figure>
                  <div class="details">
                    <h4 class="box-title" style="margin-bottom: 5px;">{{product.name}}</h4>
                    <div class="amenities">
                      <p class="text-left reviews-para">
                        <i class="soap-icon-star"></i>
                        <i class="soap-icon-star"></i>
                        <i class="soap-icon-star"></i>
                        <i class="soap-icon-star"></i>
                        <i class="soap-icon-star"></i>
                        <span class="pull-right">170 Reviews</span>
                      </p>
                    </div>
                    <div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
                        <p>Daily</p>
                        <h3>${{product.daily_price}}</h3>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
                        <p>Weekly</p>
                        <h3>${{product.weekly_price}}</h3>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
                        <p>Monthly</p>
                        <h3>${{product.monthly_price}}</h3>
                      </div>
                    </div>
                    <div class="action">
                      <a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
                    </div>
                  </div>
                </article>
              </div>
            </div>

        </div>
				<a class="left carousel-control" href="#carousel-example-generic" ng-non-bindable role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" ng-non-bindable role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
</section>
<!--<section class="hidden-xs">
	<div class="container section landing-section">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="pull-center">
					<h2 class="landing-headings">Recently Added Equipments</h2>
					<div class="line"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="carousel-example" class="carousel slide landing-carousel-slider" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 landing-img-carousel">
							<article class="box">
								<figure>
									<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
								</figure>
								<div class="details">
									<h4 class="box-title" style="margin-bottom: 5px;">Breaker1</h4>
									<div class="amenities">
										<p class="text-left reviews-para">
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<span class="pull-right">170 Reviews</span>
										</p>
									</div>
									<div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Daily</p>
											<h3>$12</h3>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Weekly</p>
											<h3>$120</h3>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Monthly</p>
											<h3>$1200</h3>
										</div>
									</div>
									<div class="action">
										<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
									</div>
								</div>
							</article>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 landing-img-carousel">
							<article class="box">
								<figure>
									<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
								</figure>
								<div class="details">
									<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
									<div class="amenities">
										<p class="text-left reviews-para">
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<span class="pull-right">170 Reviews</span>
										</p>
									</div>
									<div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Daily</p>
											<h3>$12</h3>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Weekly</p>
											<h3>$120</h3>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Monthly</p>
											<h3>$1200</h3>
										</div>
									</div>
									<div class="action">
										<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
									</div>
								</div>
							</article>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 landing-img-carousel">
							<article class="box">
								<figure>
									<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
								</figure>
								<div class="details">
									<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
									<div class="amenities">
										<p class="text-left reviews-para">
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<span class="pull-right">170 Reviews</span>
										</p>
									</div>
									<div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Daily</p>
											<h3>$12</h3>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Weekly</p>
											<h3>$120</h3>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Monthly</p>
											<h3>$1200</h3>
										</div>
									</div>
									<div class="action">
										<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
									</div>
								</div>
							</article>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 landing-img-carousel">
							<article class="box">
								<figure>
									<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
								</figure>
								<div class="details">
									<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
									<div class="amenities">
										<p class="text-left reviews-para">
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<i class="soap-icon-star"></i>
											<span class="pull-right">170 Reviews</span>
										</p>
									</div>
									<div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Daily</p>
											<h3>$12</h3>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Weekly</p>
											<h3>$120</h3>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 price-col">
											<p>Monthly</p>
											<h3>$1200</h3>
										</div>
									</div>
									<div class="action">
										<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>

				<a class="left carousel-control" href="#carousel-example" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		&lt;!&ndash; <div class="car-slideshow image-carousel style2 box landing-img-carousel" data-animation="slide" data-item-width="270" data-item-margin="30">
			<ul class="slides image-box car listing-style1">
				<li>
					<article class="box">
						<figure>
							<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
						</figure>
						<div class="details">
							<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
							<div class="amenities">
								<p class="text-left reviews-para">
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<span class="pull-right">170 Reviews</span>
								</p>
							</div>
							<div>
								<div class="col-md-4 price-col">
									<p>Daily</p>
									<h3>$12</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Weekly</p>
									<h3>$120</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Monthly</p>
									<h3>$1200</h3>
								</div>
							</div>
							<div class="action">
								<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
						</figure>
						<div class="details">
							<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
							<div class="amenities">
								<p class="text-left reviews-para">
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<span class="pull-right">170 Reviews</span>
								</p>
							</div>
							<div>
								<div class="col-md-4 price-col">
									<p>Daily</p>
									<h3>$12</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Weekly</p>
									<h3>$120</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Monthly</p>
									<h3>$1200</h3>
								</div>
							</div>
							<div class="action">
								<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
						</figure>
						<div class="details">
							<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
							<div class="amenities">
								<p class="text-left reviews-para">
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<span class="pull-right">170 Reviews</span>
								</p>
							</div>
							<div>
								<div class="col-md-4 price-col">
									<p>Daily</p>
									<h3>$12</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Weekly</p>
									<h3>$120</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Monthly</p>
									<h3>$1200</h3>
								</div>
							</div>
							<div class="action">
								<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
						</figure>
						<div class="details">
							<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
							<div class="amenities">
								<p class="text-left reviews-para">
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<span class="pull-right">170 Reviews</span>
								</p>
							</div>
							<div>
								<div class="col-md-4 price-col">
									<p>Daily</p>
									<h3>$12</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Weekly</p>
									<h3>$120</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Monthly</p>
									<h3>$1200</h3>
								</div>
							</div>
							<div class="action">
								<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
						</figure>
						<div class="details">
							<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
							<div class="amenities">
								<p class="text-left reviews-para">
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<span class="pull-right">170 Reviews</span>
								</p>
							</div>
							<div>
								<div class="col-md-4 price-col">
									<p>Daily</p>
									<h3>$12</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Weekly</p>
									<h3>$120</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Monthly</p>
									<h3>$1200</h3>
								</div>
							</div>
							<div class="action">
								<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
						</figure>
						<div class="details">
							<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
							<div class="amenities">
								<p class="text-left reviews-para">
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<span class="pull-right">170 Reviews</span>
								</p>
							</div>
							<div>
								<div class="col-md-4 price-col">
									<p>Daily</p>
									<h3>$12</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Weekly</p>
									<h3>$120</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Monthly</p>
									<h3>$1200</h3>
								</div>
							</div>
							<div class="action">
								<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
							</div>
						</div>
					</article>
				</li>
				<li>
					<article class="box">
						<figure>
							<a href="#" title="" class="hover-effect"><img src="http://placehold.it/270x160" alt=""></a>
						</figure>
						<div class="details">
							<h4 class="box-title" style="margin-bottom: 5px;">Breaker</h4>
							<div class="amenities">
								<p class="text-left reviews-para">
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<i class="soap-icon-star"></i>
									<span class="pull-right">170 Reviews</span>
								</p>
							</div>
							<div>
								<div class="col-md-4 price-col">
									<p>Daily</p>
									<h3>$12</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Weekly</p>
									<h3>$120</h3>
								</div>
								<div class="col-md-4 price-col">
									<p>Monthly</p>
									<h3>$1200</h3>
								</div>
							</div>
							<div class="action">
								<a href="" class="btn all-btn primary-btn full-width">View & Reserve</a>
							</div>
						</div>
					</article>
				</li>
			</ul>
		</div> &ndash;&gt;
</section>-->
<section class="gray-area">
	<div class="container section landing-section">
		<div class="row">
			<div class="col-lg-12 col-md-12 feedback-heading">
				<div class="pull-center">
					<h2 class="landing-headings">What our users are saying about the platform</h2>
					<div class="line"></div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 users-feedback">
				<div class="pull-center">
					<img src="/assets/images/avtar.png">
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div>
					-Ashley Deo, CEO ABC Organisation
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 users-feedback">
				<div class="pull-center">
					<img src="/assets/images/avtar.png">
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div>
					-Ashley Deo, CEO ABC Organisation
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 users-feedback">
				<div class="pull-center">
					<img src="/assets/images/avtar.png">
				</div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div>
					-Ashley Deo, CEO ABC Organisation
				</div>
			</div>
		</div>
	</div>
</section>
<footer id="footer">
	<div class="footer-wrapper landing-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-content">
					<h2>Discover</h2>
					<ul class="discover triangle hover row">
						<li class="col-xs-6"><a>Equipments</a></li>
						<li class="col-xs-6"><a>Power Systems</a></li>
						<li class="col-xs-6"><a>Travelo Picks</a></li>
						<li class="col-xs-6"><a>Attachments</a></li>
						<li class="col-xs-6"><a>Industry Solutions</a></li>
						<li class="col-xs-6"><a>Insurance</a></li>
						<li class="col-xs-6"><a>Operate Safety</a></li>
						<li class="col-xs-6"><a>API Access</a></li>
						<li class="col-xs-6"><a>Support</a></li>
						<li class="col-xs-6"><a>Maintenance</a></li>
					</ul>
				</div>
				<div class="col-xs-12 visible-xs devider"></div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-content">
					<h2>News and Events</h2>
					<ul class="discover triangle hover row">
						<li class="col-xs-6"><a>Announcements</a></li>
						<li class="col-xs-6"><a>Press Kits</a></li>
						<li class="col-xs-6"><a>Travelo Picks</a></li>
						<li class="col-xs-6"><a>Trade shows</a></li>
					</ul>
				</div>
				<div class="col-xs-12 visible-xs devider"></div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-content">
					<h2>Mailing List</h2>
					<p>Sign up for our mailing list to get latest updates and offers.</p>
					<br />
					<div class="icon-check footer-input">
						<input type="text" class="input-text full-width" placeholder="your email" />
					</div>
					<span>We respect your privacy</span>
				</div>
				<div class="col-xs-12 visible-xs devider"></div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-content">
					<h2>About Marketplace</h2>
					<p>Marketplace brings you a modern, comfortable and easy way to rent, buy and sell equipments online.</p>
					<br />
					<address class="contact-details">
						<span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-0000</span>
						<br />
						<a href="mailto:help@marketplace.com" class="contact-email">help@marketplace.com</a>
					</address>
					<ul class="social-icons clearfix">
						<li class="twitter"><a title="twitter"  ><i class="soap-icon-twitter"></i></a></li>
						<li class="googleplus"><a title="googleplus"  ><i class="soap-icon-googleplus"></i></a></li>
						<li class="facebook"><a title="facebook"  ><i class="soap-icon-facebook"></i></a></li>
						<li class="linkedin"><a title="linkedin"  ><i class="soap-icon-linkedin"></i></a></li>
						<li class="vimeo"><a title="vimeo"  ><i class="soap-icon-vimeo"></i></a></li>
						<li class="dribble"><a title="dribble"  ><i class="soap-icon-dribble"></i></a></li>
						<li class="flickr"><a title="flickr"  ><i class="soap-icon-flickr"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom gray-area">
		<div class="container">
			<div class="logo pull-left">
				<a href="#" title="Marketplace - Home">
					<img src="assets/images/logo.png" />
				</a>
			</div>
			<div class="pull-right">
				<a id="back-to-top"   class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
			</div>
			<div class="copyright pull-right">
				<p>&copy; 2015 Market Place</p>
			</div>
		</div>
	</div>
</footer>
