<header id="header" class="navbar-static-top style2">
<div class="topnav">
    <div class="container">
        <nav id="main-menu" role="navigation">
            <ul class="menu">
                <li class="menu-item-has-children">
                    <a >Live Chat</a>
                </li>
            </ul>
        </nav>
        <ul class="quick-menu pull-right clearfix">

            <li><a  class="soap-popupbox">MY ACCOUNT</a></li>

        </ul>
    </div>
</div>

<div class="main-header">


<div class="container">
    <h1 class="logo navbar-brand">
        <a href="index.html" title="Travelo - home">
            <img src="assets/images/logo.png" alt="Marketplace"/>
        </a>
    </h1>

    <div class="header-search col-sm-offset-4 col-md-offset-2 hidden-mobile">

    </div>
</div>


</div>

</header>
<section id="content" class="slideshow-bg" style="margin-top: -129px;">
<div id="slideshow">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="slidebg" style="background-image: url('../assets/images/bg.jpg');"></div>
            </li>
        </ul>
    </div>
</div>

<div class="container">
<div id="main">
<h1 class="page-title white-color">Rent Equipments with us in Comfort !</h1>

<h2 class="page-description col-md-6 no-float no-padding white-color">We're bringing you a modern, comfortable and easy way
    to rent, buy and sell equipments online.</h2>

<div class="search-box-wrapper style2">
<div class="search-box">
<ul class="search-tabs clearfix">
    <li ng-class="{'active':mdl.tab=='rent'}" class="advanced-search">
        <a ng-click="mdl.tab='rent'" data-toggle="tab">
            <i class="soap-icon-shopping-3"></i><span>RENT</span>
        </a>
    </li>
    <li ng-class="{'active':mdl.tab=='buy'}" class="advanced-search">
        <a ng-click="mdl.tab='buy'" data-toggle="tab">
            <i class="soap-icon-shopping-1 takeoff-effect"></i><span>BUY</span>
        </a>
    </li>
    <li ng-class="{'active':mdl.tab=='search'}" class="advanced-search visible-lg">
        <a ng-click="mdl.tab='search'" data-toggle="tab"><span>Advanced Search</span></a>
    </li>
</ul>


<div class="search-tab-content">
    <div ng-class="{'active fade in':mdl.tab=='rent'}" class="tab-pane" >
        <form method="post">
            <h4 class="title">Which Equipment you want to rent?</h4>

            <div class="row">
                <div class="form-group col-sm-12 col-md-10">
                    <input type="text" class="input-text full-width"
                           placeholder="Equipment Name, Part Name, etc.."/>
                </div>

                <div class="form-group col-md-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="full-width">SEARCH NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div ng-class="{'active fade in':mdl.tab=='buy'}" class="tab-pane" >
        <form method="post">
            <h4 class="title">Which Equipment you want to rent?</h4>

            <div class="row">
                <div class="form-group col-sm-12 col-md-10">
                    <input type="text" class="input-text full-width"
                           placeholder="Equipment Name, Part Name, etc.."/>
                </div>

                <div class="form-group col-md-2">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="full-width">SEARCH NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <div ng-class="{'active fade in':mdl.tab=='search'}" class="tab-pane">
        <form>
            <h4 class="title">Which Equipment you want to rent?</h4>

            <div class="row">
                <div class="form-group col-sm-7 col-md-5">
                    <input type="text" class="input-text full-width"
                           placeholder="Equipment Name, Part Name, etc.."/>
                </div>
                <div class="form-group col-sm-6 col-md-4">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="datepicker-wrap transparent" ng-click="open($event,'Start')">
                                <input type="text" class="input-text white-bg full-width check-in" datepicker-popup="{{dateFormat}}" ng-model="dt"
                                       is-open="openedStart" min-date="minDate" datepicker-options="dateOptions"
                                       ng-focus="open($event,'Start')"

                                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="datepicker-wrap transparent" ng-click="open($event,'End')">
                                <input type="text" class="input-text white-bg full-width check-in" datepicker-popup="{{dateFormat}}" ng-model="dt"
                                       is-open="openedEnd" min-date="minDate" datepicker-options="dateOptions"
                                       ng-focus="open($event,'End')"

                                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="selector">
                                <select class="full-width">
                                    <option value="rent">Rent</option>
                                    <option value="buy">Buy</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <button type="submit" class="full-width">SEARCH NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
</section>
<footer id="footer">
    <div class="bottom">
        <div class="container">
            <div class="logo pull-left">
                <a  title="Travelo - home">
                    <img src="../assets/images/logo.png" alt="Marketplace">
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top"  class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; -webkit-animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>© 2015 Marketplace</p>
            </div>
        </div>
    </div>
</footer>