
<div class="row form-group">
    <div class="col-sms-6 col-sm-6">
        <label>Select Product</label>
        <div class="selector">
            <select name="select-product" ng-model="invMdl.equiId" class="full-width" ng-options="e.id as e.name for e in invMdl.equis">
            </select>
        </div>
    </div>
    <h2>
        <!--<button class="status pull-right add-button" ui-sref="main.account.inventory.add">Add Inventory</button>
        --><button class="status btn-mini status pull-right add-button" ui-sref="main.account.inventory.add">Add Inventory</button>
    </h2>
</div>
<br/>
<br/>

<div class="booking-history">
    <div class="booking-info clearfix" ng-repeat="inv in mdl.inventories">
        <h4 class="box-title col-md-4">
            <i class="icon soap-icon-card yellow-color circle"></i>{{inv.product.name}}
            <small>ID : {{inv.id}}</small>
        </h4>
        <h4 class="box-title col-md-2">
            <i class="icon yellow-color circle"></i>{{inv.serial_no || "XXX-XXX-XXX"}}
        </h4>
        <h4 class="box-title col-md-1">
            <i class="icon yellow-color circle"></i>{{inv.source}}
        </h4>
        <h4 class="box-title col-md-2 col-lg-offset-1">
            <i class="icon yellow-color circle"></i>{{inv.is_active? 'Available' : 'Not Available'}}
        </h4>

        <toggle-switch ng-model="switchStatus" on-label="sí" off-label="no"></toggle-switch>
        <button class="btn-mini status" ui-sref="main.account.inventory.edit({id:inv.id})">Edit</button>
    </div>

</div>