<div class="travelo-login-box travelo-box">
    <div class="login-social">
        <a  class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
        <a  class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
    </div>
    <div class="seperator"><label>OR</label></div>
    <form validate-form name="loginMdl.form" novalidate ng-submit="login()">
        <div class="form-group">
            <input type="text" name="email" ng-model="loginMdl.data.username" required class="input-text full-width" placeholder="email address">
        </div>
        <div class="form-group">
            <input type="password" name="password" ng-model="loginMdl.data.password" required class="input-text full-width" placeholder="password">
        </div>
        <div class="form-group">
            <a class="forgot-password pull-right pointerhover">Forgot password?</a>
            <div class="checkbox checkbox-inline">
                <label>
                    <input type="checkbox">Remember me
                </label>
            </div>
        </div>
        <div class="error">{{loginMdl.errorMessage}}</div>
        <button process-indicator type="submit" class="full-width btn-medium" ng-click="loginMdl.login()">Login</button>
    </form>
    <div class="seperator"></div>
    <p>Don't have an account? <a class="goto-signup soap-popupbox pointerhover" ng-click="loginMdl.signUp()">Sign up</a></p>
</div>