<div>

<h2>Invoices</h2>

<div ng-repeat="inv in mdl.invoices" class="booking-history">
    <div class="booking-info clearfix">
        <h5 class="box-title col-md-3">
            <i class="icon soap-icon-card yellow-color circle"></i>Invoice
            <small>ID : {{inv.id}}</small>
        </h5>
        <h5 class="box-title col-md-2">
            <i class="icon yellow-color circle"></i>{{inv.is_paid ? "Paid" : "Not Paid"}}
        </h5>
        <h5 class="box-title col-md-1">
            <i class="icon yellow-color circle"></i>{{inv.is_approve ? "Approved" : "Approved"}}
        </h5>
        <h5 class="box-title col-md-2 col-lg-offset-1">
            <i class="icon yellow-color circle"></i>${{inv.total}}
        </h5>


        <button class="btn all-btn status" process-indicator  ng-click="invoicesMdl.pay(inv)">Pay Now</button>
        <button class="btn all-btn status" ui-sref="main.account.invoices.view({id:inv.id})">View Details</button>
    </div>
</div>
</div>

