<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seller-header search-col no-padding">
	<h1 class="no-margin skin-color seller-heading-font">Invoices</h1>
	<div class="sb-search btn-right" ng-class="{'sb-search-open': filterOpen}">
			<form>
				<input date-range-picker class="form-control date-picker sb-search-input" placeholder="Select Dates" type="text" ng-model="date" ng-class="{'no-border': !filterOpen}" />
				<span class="sb-icon-search filter-icon form-control"ng-click="filterBar()"></span>
			</form>
		</div>
		<div id="sb-search" class="sb-search" ng-class="{'sb-search-open': searchOpen}">
			<form>
				<input class="sb-search-input form-control" placeholder="Search" type="text" value="" name="search" id="search" ng-class="{'no-border': !searchOpen}">
				<input class="sb-search-submit form-control" type="submit" value=""ng-click="searchBar()">
				<span class="sb-icon-search form-control"ng-click="searchBar()"></span>
			</form>
		</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<hr />
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<table class="table order-table">
		<tbody>
			<tr ng-repeat="inv in mdl.invoices">
				<td>
					<p class="heading-text no-margin">
						<i class="icon soap-icon-card yellow-color circle"></i>&nbsp Invoice
					</p>
					<small>ID : {{inv.id}}</small>
				</td>
				<td class="heading-text">
					Jan 28, 2015
				</td>
				<td class="heading-text">{{inv.is_paid ? "Paid" : "Not Paid"}}
				</td>
				<td class="heading-text">{{inv.is_approve ? "Approved" : "Approved"}}
				</td>
				<td class="heading-text">${{inv.total}}</td>
				<td>
					<!-- <a class="pull-right" ng-click="invoicesMdl.pay(inv)">
						<i class="fa fa-money"></i>
					</a> -->
					<a ui-sref="main.account.invoices.view({id:inv.id})" class="pull-right btn all-btn primary-btn">
						View
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

