<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seller-header search-col no-padding">
	<h1 class="no-margin skin-color seller-heading-font">Invoices</h1>
	<div class="form-control search-div">
			<input type="text" placeholder="Search">
			<i class="fa fa-search"></i>
		</div>
		Sort By &nbsp
		<select class="form-control sort-by">
			<option>A-Z</option>
			<option>Z-A</option>
			<option>More-Less</option>
			<option>Less-More</option>
			<option>Currently Availbility</option>
		</select>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-history no-padding">
	<table class="table order-table">
		<tbody>
			<tr ng-repeat="inv in mdl.invoices">
				<td>
					<p class="heading-text no-margin">
						<i class="icon soap-icon-card yellow-color circle"></i>&nbsp Invoice
					</p>
					<small>ID : {{inv.id}}</small>
				</td>
				<td class="heading-text">
					Jan 28, 2015
				</td>
				<td class="heading-text">{{inv.is_paid ? "Paid" : "Not Paid"}}
				</td>
				<td class="heading-text">{{inv.is_approve ? "Approved" : "Approved"}}
				</td>
				<td class="heading-text">${{inv.total}}</td>
				<td>
					<!-- <a class="pull-right" ng-click="invoicesMdl.pay(inv)">
						<i class="fa fa-money"></i>
					</a> -->
					<a ui-sref="main.account.invoices.view({id:inv.id})" class="pull-right btn all-btn primary-btn">
						View
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

