
<h2>Manage Your Jobsites <button class="btn all-btn pull-right status primary-btn" ui-sref="main.account.jobsites.add">
    <i class="fa fa-plus"></i>&nbsp Add Jobsite</button></h2>
<div class="booking-history">
    <div class="booking-info clearfix" ng-repeat="site in mdl.sites">
        <h4 class="box-title">
            <i class="icon soap-icon-departure yellow-color circle"></i>{{site.name}}
            <small>{{site.city.name}},{{site.state.name}},{{site.country.name}}</small>
        </h4>
        <a ng-click="delete(site)" class="pull-right">
            <i class="fa fa-archive"></i>
        </a>
        <a ui-sref="main.account.jobsites.edit({id:site.id})" class="pull-right">
            <i class="fa fa-pencil"></i>
        </a>
        <!-- <button class="btn all-btn status" ng-click="delete(site)">Archive</button> -->
        <!-- <button class="btn all-btn status" ui-sref="main.account.jobsites.edit({id:site.id})">Edit</button> -->
    </div>

</div>
