<div id="dashboard-equipments" class="tab-pane fade in active">
	<h1 class="no-margin skin-color">My Equipments
		<button class="btn all-btn pull-right primary-btn"><i class="icon soap-icon-plus"></i> Add Inventory</button>
	</h1>
	<br />
	<div class="gray-area select-product">
		<p>
			Select Product: 
			<select class="form-control">
				<option>Abc</option>
				<option>Def</option>
				<option>Xyz</option>
			</select>
		</p>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<table class="table equipments-table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="" class="hover-effect popup-gallery">
							<img src="" class="gray-area">
						</a>
					</td>
					<td class="equip-desc">
						<h3>Breaker</h3>
						<p>Austin, Texas</p>
						<p>ID: xxxxxxxx</p>
					</td>
					<td class="time-td pull-center vertically-middle">
						<toggle-switch ng-click="valueChanged(inv)" ng-model="inv.is_active" on-label="Available" off-label="Not-Available"></toggle-switch>
					</td>
					<td class="pull-center action-td">
						<p>
							<!-- <button class="btn all-btn primary-btn">View</button> -->
							<a href="">
								<i class="fa fa-eye"></i>
							</a>
							<a href="">
								<i class="fa fa-pencil-square-o"></i>
							</a>
							<a href="">
								<i class="fa fa-archive"></i>
							</a>
						</p>
						<!-- <a href="">Edit</a> -->
						<!-- <a href="">Archive</a> -->
					</td>
				</tr>
				<tr>
					<td>
						<a href="" class="hover-effect popup-gallery">
							<img src="" class="gray-area">
						</a>
					</td>
					<td class="equip-desc">
						<h3>Breaker</h3>
						<p>Austin, Texas</p>
						<p>ID: xxxxxxxx</p>
					</td>
					<td class="time-td pull-center vertically-middle">
						<toggle-switch ng-click="valueChanged(inv)" ng-model="inv.is_active" on-label="Available" off-label="Not-Available"></toggle-switch>
					</td>
					<td class="pull-center action-td">
						<p>
							<!-- <button class="btn all-btn primary-btn">View</button> -->
							<a href="">
								<i class="fa fa-eye"></i>
							</a>
							<a href="">
								<i class="fa fa-pencil-square-o"></i>
							</a>
							<a href="">
								<i class="fa fa-archive"></i>
							</a>
						</p>
						<!-- <a href="">Edit</a> -->
						<!-- <a href="">Archive</a> -->
					</td>
				</tr>
				<tr>
					<td>
						<a href="" class="hover-effect popup-gallery">
							<img src="" class="gray-area">
						</a>
					</td>
					<td class="equip-desc">
						<h3>Breaker</h3>
						<p>Austin, Texas</p>
						<p>ID: xxxxxxxx</p>
					</td>
					<td class="time-td pull-center vertically-middle">
						<toggle-switch ng-click="valueChanged(inv)" ng-model="inv.is_active" on-label="Available" off-label="Not-Available"></toggle-switch>
					</td>
					<td class="pull-center action-td">
						<p>
							<!-- <button class="btn all-btn primary-btn">View</button> -->
							<a href="">
								<i class="fa fa-eye"></i>
							</a>
							<a href="">
								<i class="fa fa-pencil-square-o"></i>
							</a>
							<a href="">
								<i class="fa fa-archive"></i>
							</a>
						</p>
						<!-- <a href="">Edit</a> -->
						<!-- <a href="">Archive</a> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>