<div class="loader-div" loader>
    <img src="assets/images/loader.gif"/>
    <p>Excavating Awesomeness</p>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seller-header no-padding">
		<h1 class="no-margin black-color seller-heading-font">My Inventory
			<div class="visible-xs">
				<div class="pull-right mobile-icons">
					<i class="fa fa-search orange-color pull-right" ng-click="mobilesearchBar()" style="margin-top: -20px; margin-right: 0px;"></i>
				</div>
				<div class="arrow_box" ng-show="mobilesearchOpen">
					<input class="form-control" type="text" placeholder="Search">
				</div>
			</div>
			<button class="btn all-btn pull-right primary-btn btn-right" ui-sref="main.sellerAccount.inventory.add"><i class="icon soap-icon-plus"></i> Add New Inventory</button>
			<div class="search-sort-div hide-search hidden-xs" ng-class="{'show-search': searchOpen}">
				<i class="fa fa-search" ng-click="searchBar()"></i>
				<input type="text" placeholder="Search" class="form-control">
			</div>
		</h1>
</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-area select-product" ng-if="mdl.inventories">
		<p>
			Select Product: 
			<select name="select-product" ng-model="invMdl.equiId" class="form-control" ng-options="e.id as e.name for e in invMdl.equis">
      </select>
		</p>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs no-padding">
		<table class="table equipments-table">
			<tbody>
				<tr ng-repeat="inv in mdl.inventories">
					<td>
						<a href="" class="hover-effect popup-gallery">
							<img src="" class="gray-area">
						</a>
					</td>
					<td class="equip-desc">
						<h3>{{inv.product.name}}</h3>
						<p>Austin, Texas</p>
						<p>ID: <span class="bold-font">{{inv.id}}</span></p>
					</td>
					<td class="time-td pull-center vertically-middle">
						<toggle-switch ng-click="valueChanged(inv)" ng-model="inv.is_active" on-label="Available" off-label="Not-Available"></toggle-switch>
					</td>
					<td class="text-right action-td">
						<p>
							<!-- <button class="btn all-btn primary-btn">View</button> -->
							<a href="" class="btn all-btn white-btn">
								View
							</a>
							<a ui-sref="main.sellerAccount.inventory.edit({id:inv.id})" class="btn all-btn white-btn">
								Edit
							</a>
							<a href="" class="btn all-btn white-btn">
								Delete
							</a>
						</p>
						<!-- <a href="">Edit</a> -->
						<!-- <a href="">Archive</a> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 visible-xs no-padding">
		<article class="col-xs-12 mobile-cart seller-mobile-equip" ng-repeat="inv in mdl.inventories">
				<figure>
					<a href="#" title="" class="hover-effect pull-center"><img src="http://placehold.it/166x150" alt="" class="inline-block"></a>
				</figure>
				<div class="col-xs-12 no-padding devider"></div>
				<div class="col-xs-12 no-padding details">
					<h4 class="box-title bold-font" style="margin-bottom: 5px;">{{inv.product.name}}</h4>
					<div class="col-xs-12 no-padding amenities">
						<p>
							Austin, Texas
							<span class="pull-right">
								ID: <span class="bold-font">{{inv.id}}</span>
							</span>
						</p>
					</div>
					<div class="col-xs-12 no-padding">
						<toggle-switch ng-click="valueChanged(inv)" ng-model="inv.is_active" on-label="Available" off-label="Not-Available" class="full-width"></toggle-switch>
					</div>
					<div class="col-xs-12 devider"></div>
					<div class="col-xs-12 no-padding action pull-center cart-action">
						<a href="" class="pull-left btn all-btn white-btn">
							View
						</a>
						<a ui-sref="main.sellerAccount.inventory.edit({id:inv.id})" class="btn all-btn white-btn">
							Edit
						</a>
						<a href="" class="pull-right btn all-btn white-btn">
							Delete
						</a>
					</div>
				</div>
		</article>
	</div>