<div>
    <header id="header" class="navbar-static-top style2">
        <div class="topnav">
            <div class="container">
                <nav id="main-menu" role="navigation">
                    <ul class="menu">
                        <li class="menu-item-has-children pointerhover">
                            <a>Need Help?</a>
                        </li>
                    </ul>
                </nav>
                <ul class="quick-menu pull-right clearfix">
                    <li ng-if="!isLoggedIn()">
                        <a ng-click="openLogin()" class="soap-popupbox pointerhover">Login</a>
                    </li>
                    <li ng-if="!isLoggedIn()">
                        <a ng-click="openSignUp()" class="soap-popupbox pointerhover">Register</a>
                    </li>
                    <li></li>
                    <li ng-if="isLoggedIn()" class="ribbon currency">
                        <a ng-click="accountClick()" class="soap-popupbox pointerhover">ACCOUNT</a>
                        <ul class="menu mini">
                            <li><a ui-sref="main.account.dashboard" title="dashboard">Dashboard</a></li>
                            <li><a ui-sref="main.account.profile.view" title="profile-settings">Profile Settings</a></li>
                            <li><a ng-click="logout()" title="signout">Signout</a></li>
                        </ul>
                    </li>
                    <li ng-if="isLoggedIn()">
                        <a class="pointerhover cart-count" ui-sref="main.cart"><i class="soap-icon-shopping" style="font-size: 6em;"></i><span>{{rmodel.cartCount || 0}}</span></a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="container">
            <h1 class="logo navbar-brand">
                <a class="pointerhover">
                    <img ui-sref="home" src="assets/images/logo.png"  />
                </a>
            </h1>
            <div class="header-search col-sm-offset-4 col-md-offset-2 hidden-mobile">
                <form ng-submit="mainMdl.search()">
                    <div class="col-xs-6">
                        <angucomplete-alt
                                          placeholder="Equipment Name, Part Name, etc.."
                                          pause="400"
                                          initial-value="mainMdl.searchText"
                                          selected-object="mainMdl.searchObj"
                                          remote-api-handler="mainMdl.searchHelper"
                                          remote-url-data-field="data"
                                          title-field="name"
                                          input-changed="mainMdl.inputChanged"
                                          input-class="input-text white-bg full-width where"/>
                        <!--<input type="text" ng-model="mainMdl.searchText" name="where" value="" placeholder="Equipment Name, Part Name, etc.." class="input-text white-bg full-width where" />-->
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-3">
                            <div class="datepicker-wrap transparent" ng-click="mainMdl.open($event,'Start')">
                                <input type="text" class="input-text white-bg full-width check-in" datepicker-popup="{{dateFormat}}" ng-model="mainMdl.startDate"
                                       is-open="mainMdl.openedStart" min-date="mainMdl.minDate" datepicker-options="mainMdl.dateOptions"
                                       ng-focus="mainMdl.open($event,'Start')"
                                        close-text="Close"/>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="datepicker-wrap transparent" ng-click="mainMdl.open($event,'End')">
                                <input type="text" class="input-text white-bg full-width check-in" datepicker-popup="{{dateFormat}}" ng-model="mainMdl.endDate"
                                       is-open="mainMdl.openedEnd" min-date="mainMdl.minDate" datepicker-options="mainMdl.dateOptions"
                                       ng-focus="mainMdl.open($event,'End')"
                                        close-text="Close"/>
                            </div>


                        </div>
                        <div class="col-xs-3" style="border: 1px solid #dbdbdb;">

                            <select class="form-control full-width white-bg"
                                    style="height: 32px;border-radius: 0px;border: 0px;box-shadow: none;">
                                <option>Rent</option>
                                <option>Buy</option>
                            </select>

                        </div>
                        <div class="col-xs-3">
                            <button type="submit" process-indicator="PI:SearchProcess" ng-click="mainMdl.search()" class="btn-medium uppercase full-width">search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">{{mainMdl.title}}</h2>
            </div>

            <ul class="breadcrumbs pull-right">

                <li ng-if="!mainMdl.showToggle"><a ui-sref="home">HOME</a></li>
                <li ng-if="!mainMdl.showToggle" ng-repeat="bc in mainMdl.breadcrumbs">
                    {{bc.title}}
                </li>
                <li ng-if="mainMdl.showToggle">
                    <div class="btn-group" role="group" >
                        <button active-state="main.sellerAccount" ui-sref="main.sellerAccount.orders.list" type="button" class="btn btn-default">Seller</button>
                        <button active-state="main.account"    ui-sref="main.account.dashboard" type="button" class="btn btn-default">Buyer</button>
                    </div>
                </li>


            </ul>
        </div>
    </div>
    <section id="content" class="gray-area">
        <div class="container">
            <div ng-show="rmodel.message.show" class="alert alert-{{rmodel.message.type}}">
                {{rmodel.message.text}}
                <span class="close" ng-click="rmodel.message.show=false"></span>
            </div>
            <div id="main" ui-view></div>
        </div>
    </section>
    <footer id="footer">
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h2>Discover</h2>
                        <ul class="discover triangle hover row">
                            <li class="col-xs-6"><a>Equipments</a></li>
                            <li class="col-xs-6"><a>Power Systems</a></li>
                            <li class="col-xs-6"><a>Travelo Picks</a></li>
                            <li class="col-xs-6"><a>Attachments</a></li>
                            <li class="active col-xs-6"><a>Speciality Rentals</a></li>
                            <li class="col-xs-6"><a>Industry Solutions</a></li>
                            <li class="col-xs-6"><a>Insurance</a></li>
                            <li class="col-xs-6"><a>Technology</a></li>
                            <li class="col-xs-6"><a>API Access</a></li>
                            <li class="col-xs-6"><a>Operate Safety</a></li>
                            <li class="col-xs-6"><a>Maintenance</a></li>
                            <li class="col-xs-6"><a>Support</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>News and Events</h2>

                        <ul class="discover triangle hover row">
                            <li class="col-xs-6"><a>Announcements</a></li>
                            <li class="col-xs-6"><a>Press Kits</a></li>
                            <li class="col-xs-6"><a>Travelo Picks</a></li>
                            <li class="col-xs-6"><a>Trade shows</a></li>
                            <li class="active col-xs-6"><a>Sell with Us</a></li>
                            <li class="active col-xs-6"><a>Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>Mailing List</h2>
                        <p>Sign up for our mailing list to get latest updates and offers.</p>
                        <br />
                        <div class="icon-check">
                            <input type="text" class="input-text full-width" placeholder="your email" />
                        </div>
                        <br />
                        <span>We respect your privacy</span>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h2>About Marketplace</h2>
                        <p>Marketplace brings you a modern, comfortable and easy way to rent, buy and sell equipments online.</p>
                        <br />
                        <address class="contact-details">
                            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-0000</span>
                            <br />
                            <a   class="contact-email">help@marketplace.com</a>
                        </address>
                        <ul class="social-icons clearfix">
                            <li class="twitter"><a title="twitter"  ><i class="soap-icon-twitter"></i></a></li>
                            <li class="googleplus"><a title="googleplus"  ><i class="soap-icon-googleplus"></i></a></li>
                            <li class="facebook"><a title="facebook"  ><i class="soap-icon-facebook"></i></a></li>
                            <li class="linkedin"><a title="linkedin"  ><i class="soap-icon-linkedin"></i></a></li>
                            <li class="vimeo"><a title="vimeo"  ><i class="soap-icon-vimeo"></i></a></li>
                            <li class="dribble"><a title="dribble"  ><i class="soap-icon-dribble"></i></a></li>
                            <li class="flickr"><a title="flickr"  ><i class="soap-icon-flickr"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom gray-area">
            <div class="container">
                <div class="logo pull-left">
                    <a href="#" title="Marketplace - Home">
                        <img src="assets/images/logo.png" />
                    </a>
                </div>
                <div class="pull-right">
                    <a id="back-to-top"   class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                </div>
                <div class="copyright pull-right">
                    <p>&copy; 2014 Market Place</p>
                </div>
            </div>
        </div>
    </footer>
</div>

