
<!-- <div class="edit-profile">
		<form validate-form name="editProfileMdl.form" novalidate class="edit-profile-form">
				<h2>Personal Details</h2>
				<div class="col-sm-9 no-padding no-float shortcode">
						<div class="row form-group">
								<div class="col-sms-6 col-sm-6">
										<label>Name</label>
										<input type="text" name="name" ng-model="editProfileMdl.user.fullname" required class="input-text full-width" placeholder="Name">
								</div>
						</div>

						<div class="row form-group">
								<div class="col-sms-6 col-sm-6">
										<label>Phone</label>
										<input type="text" name="phone" ng-model="editProfileMdl.user.phone" required class="input-text full-width" placeholder="Phone">
								</div>
						</div>

						<div class="row form-group">
								<div class="col-sms-6 col-sm-6">
										<label>Store name</label>
										<input type="text" name="storename" ng-model="editProfileMdl.user.store_name" required class="input-text full-width" placeholder="Store Name">
								</div>
						</div>

						<div class="row form-group">
								<div class="col-sms-6 col-sm-6">
										<label>Zip code</label>
										<input type="text" name="zipcode" ng-model="editProfileMdl.user.zip_code" required class="input-text full-width" placeholder="Zip Code">
								</div>
						</div>

						<div class="row form-group">
								<div class="col-sms-6 col-sm-6">
										<label>Time zone</label>
										<input type="text" name="timezone" disabled ng-model="editProfileMdl.user.timezone" required class="input-text full-width" placeholder="Time Zone">
								</div>
						</div>
						<h5 class="skin-color">Credit Form</h5>
						<div class="row form-group">
								<div class="col-sms-12 col-sm-6 no-float">
										<div class="fileinput button " ngf-select ngf-change="editProfileMdl.fileToUpload=$files">  Credit Form</div>

										<br/>
										<div ngf-drop ng-model="editProfileMdl.fileToUpload" class="upload-drop-zone"
												 ngf-drag-over-class="drop" ngf-multiple="true" ngf-allow-dir="false"
														>Drop Form here</div>
										<div ng-if="editProfileMdl.fileToUpload">
												Selected File:
												<div ng-repeat="file in editProfileMdl.fileToUpload">
														<div>
																<div>{{file.name}}</div>
																<div>
																		<progress max="100" value="{{file.progress || 0}}">{{file.status}}</progress>
																</div>
														</div>
												</div>


										</div>
										<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
								</div>
						</div>
						<hr>
						<div class="from-group block">
								<button type="submit"  ng-click="updateProfile()" class="btn all-btn">UPDATE</button>
								<button ui-sref="main.profile.view" class="btn all-btn cancel-btn">CANCEL</button>
						</div>

				</div>
		</form>
</div> -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding image-box box">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 setting-heading">
        <h4>Personal Details</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <hr class="no-tmargin">
    </div>
    <div class="invoice-address buyer-order-detail col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding setting-edit-form" style="margin-bottom: 0;">
    	<form validate-form name="editProfileMdl.form" novalidate class="edit-profile-form">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <p class="orange-text">User Name:</p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 no-lpadding">
            <input type="text" name="name" ng-model="editProfileMdl.user.fullname" required class="form-control" placeholder="Name">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <p class="orange-text">Phone Number:</p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 no-lpadding">
            <input type="text" name="phone" ng-model="editProfileMdl.user.phone" required class="form-control" placeholder="Phone">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <p class="orange-text">Store Name:</p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 no-lpadding">
            <input type="text" name="storename" ng-model="editProfileMdl.user.store_name" required class="form-control" placeholder="Store Name">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <p class="orange-text">Time Zone:</p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 no-lpadding">
            <input type="text" name="timezone" disabled ng-model="editProfileMdl.user.timezone" required class="form-control" placeholder="Time Zone">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <p class="orange-text">Zip Code:</p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 no-lpadding">
            <input type="text" name="zipcode" ng-model="editProfileMdl.user.zip_code" required class="form-control" placeholder="Zip Code">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="fileinput button orange-color desc-text" ngf-select ngf-change="editProfileMdl.fileToUpload=$files">Credit Form:</div>
					<div ngf-drop ng-model="editProfileMdl.fileToUpload" class="upload-drop-zone" ngf-drag-over-class="drop" ngf-multiple="true" ngf-allow-dir="false">Drop Form here</div>
					<div ng-if="editProfileMdl.fileToUpload">
						Selected File:
						<div ng-repeat="file in editProfileMdl.fileToUpload">
							<div>
								<div>{{file.name}}</div>
								<div>
									<progress max="100" value="{{file.progress || 0}}">{{file.status}}</progress>
								</div>
							</div>
						</div>
					</div>
					<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
			  </div>
			  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edit-action-btn text-right">
			  	<button type="submit"  ng-click="updateProfile()" class="btn all-btn primary-btn">Update</button>
					<button ui-sref="main.profile.view" class="btn all-btn primary-btn">Cancel</button>
			  </div>
			</form>
  	</div>
</div>