<h2>Process Order</h2>
<ul class="progress-indicator">
    <li class="completed">
        <span class="bubble"></span>
        <i class="fa fa-check-circle"></i>
        Confirmed<br/>
        <small class="select-color">21 Aug, 2015 03:44:44</small>
    </li>
    <li class="completed">
        <span class="bubble"></span>
        <i class="fa fa-check-circle"></i>
        Approved<br/>
        <small class="select-color">21 Aug, 2015 03:44:44</small>
    </li>
    <li>
        <span class="bubble"></span>
        Ready to Ship
    </li>
    <li>
        <span class="bubble"></span>
        Dispatched
    </li>
    <li>
        <span class="bubble"></span>
        Delivered
    </li>
    <li>
        <span class="bubble"></span>
        End Contract
    </li>
</ul>
<div class="row form-group" style="margin-top: 40px;">
    <div class="col-sms-6 col-sm-6">
        <label>Change Order Status</label>
        <div class="selector">
            <select name="select-product" ng-model="mdl.changedStatus" class="full-width" ng-options="opt as opt.text for opt in mdl.statusOptions">
            </select>
        </div>
    </div>
</div>
<br/>
<div class="row form-group" style="margin-top: 40px;">
    <div class="col-sms-6 col-sm-6">
        <textarea rows="10" cols="53" ng-model="mdl.comment" placeholder="Update user with your message here"></textarea>
    </div>
</div>

<button ng-click="mdl.update()">Update Status</button>
<!--<button ui-sref="main.sellerAccount.orders.process">Process</button>
<button ui-sref="main.sellerAccount.orders.list">list</button>-->
