<div id="booking" class="tab-pane fade in">
    <div class="row block">
        <div class="col-sm-6 col-md-3">
            <a>
                <div class="fact blue">
                    <div class="numbers counters-box">
                        <dl>
                            <dt class="display-counter" data-value="3200">0</dt>
                            <dd>Equipments You Own</dd>
                        </dl>
                        <i class="icon soap-icon-calendar-check"></i>
                    </div>
                    <div class="description">
                        <i class="icon soap-icon-longarrow-right"></i>
                        <span>View Equipments</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a >
                <div class="fact yellow">
                    <div class="numbers counters-box">
                        <dl>
                            <dt class="display-counter" data-value="4509">0</dt>
                            <dd>Your Jobsites</dd>
                        </dl>
                        <i class="icon soap-icon-departure"></i>
                    </div>
                    <div class="description" ui-sref="main.account.jobsites.list">
                        <i class="icon soap-icon-longarrow-right"></i>
                        <span>Manage Jobsites</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a>
                <div class="fact red">
                    <div class="numbers counters-box">
                        <dl>
                            <dt class="display-counter" data-value="3250">0</dt>
                            <dd>Favourited</dd>
                        </dl>
                        <i class="icon soap-icon-wishlist"></i>
                    </div>
                    <div class="description" ui-sref="main.account.favourites">
                        <i class="icon soap-icon-longarrow-right"></i>
                        <span>View Favourited Equipments</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-3">
            <a >
                <div class="fact green">
                    <div class="numbers counters-box">
                        <dl>
                            <dt class="display-counter" data-value="1570">0</dt>
                            <dd>Service Tickets</dd>
                        </dl>
                        <i class="icon soap-icon-stories flip-effect"></i>
                    </div>
                    <div class="description">
                        <i class="icon soap-icon-longarrow-right"></i>
                        <span>Manage Requests</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
<ui-view></ui-view>
</div>