<div class="booking-information travelo-box" style="margin-bottom: 0px;">

    <div class="booking-confirmation clearfix">
        <i class="soap-icon-clock icon circle"></i>
        <div class="message">
            <h4 class="main-message">Your Recieved a new order !</h4>
            <p>Please find your order details below and start processing it.</p>
        </div>
        <a class="button print-button btn-small uppercase">Cancel Order</a>
        <a class="button print-button btn-small uppercase">Print Details</a>
    </div>
    <hr />
    <h2>Order Details</h2>
    <dl class="term-description">
        <dt>Order number:</dt><dd>{{mdl.order.id}}</dd>
    </dl>
    <hr />
    <div class="row invoice-address">
        <div class="col-md-4">
            <h2>Shipping Address</h2>
            <dl class="term-description">
                <dd>{{mdl.order.order.shipping_address.first_name}} {{mdl.order.order.shipping_address.last_name}}</dd>
                <dd>{{mdl.order.order.shipping_address.address1+' '+mdl.order.order.shipping_address.address2}}</dd>
                <dd>{{mdl.order.order.shipping_address.city.name}}-{{mdl.order.order.shipping_address.zip_code}}</dd>
                <dd>{{mdl.order.order.shipping_address.country.name}}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h2>Billing Address</h2>
            <dl class="term-description">
                <dd>{{mdl.order.order.billing_address.first_name}} {{mdl.order.order.billing_address.last_name}}</dd>
                <dd>{{mdl.order.order.billing_address.address1+' '+mdl.order.order.billing_address.address2}}</dd>
                <dd>{{mdl.order.order.billing_address.city.name}}-{{mdl.order.order.billing_address.zip_code}}</dd>
                <dd>{{mdl.order.order.billing_address.country.name}}</dd>
            </dl>
        </div>
    </div>

</div>


<div id="tour-details" class="travelo-box order-details" load-indicator>
    <div ng-repeat="item in mdl.order.items" class="intro2 small-box border-box table-wrapper hidden-table-sms">
        <div class="image-container table-cell"><img ng-src="{{item.images[0] || 'http://placehold.it/80x80'}}" alt=""></div>
        <div class="description" style="width: 330px;">
            <h4>{{item.detail.name}}</h4>
        </div>
        <div class="table-cell">
            <dl class="term-description">
                <dt>Rented For</dt><dd>{{mdl.getShippingPeriod(item)}}</dd>
                <dt>Order Type</dt><dd>{{item.shipping_kind}}</dd>
                <dt>Status</dt><dd>{{item.current_status}}</dd>
            </dl>
        </div>
        <div class="price-section table-cell" style="padding-right: 26px; padding-top: 0px;">
            <div class="price"><div class="price-per-unit">${{item.cost_breakup.subtotal.amt}}</div></div>
            <a ui-sref="main.sellerAccount.orders.process({id:mdl.order.id,itemIndex:$index})" class="button green btn-small uppercase">Process</a>
        </div>
    </div>
    <div class="intro2 small-box border-box table-wrapper hidden-table-sms cart-total">
        <div class="description">
            <h4>Cart Total</h4>
        </div>

        <br />
        <div class="table-cell">
            <dl class="term-description">
                <dt>Shipping Cost</dt><dd>${{mdl.order.shipping_charge | number}}</dd>
                <dt>Additional Charges</dt><dd>${{mdl.order.additional_charge | number}}</dd>
            </dl>
        </div>
        <div class="price-section table-cell">
            <div class="price"><div class="price-per-unit">${{mdl.order.subtotal | number}}</div></div>
        </div>
    </div>
    <a class="button green btn-large uppercase pull-right" ui-sref="main.sellerAccount.orders.list">Back to Order List</a>
</div>



<!--
<button ui-sref="main.sellerAccount.orders.view">View</button>
<button ui-sref="main.sellerAccount.orders.process">Process</button>
<button ui-sref="main.sellerAccount.orders.list">list</button>-->
