<div class="add-equipment">
    <form validate-form name="addEquiMdl.form" novalidate ng-submit="updateProfile()" class="edit-profile-form">
        <h2>{{editMode ? 'Edit Equipment' :'Add New Equipment'}}</h2>
        <div class="col-sm-9 no-padding no-float shortcode">
            <div class="row form-group">

                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Equipment Name</label>
                        <input type="text" ng-model="addEquiMdl.data.name" name="equipmentname" required class="input-text full-width" placeholder="Enter Equipment Name">
                    </div>
                 </div>
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Brand Name</label>
                        <input type="text" ng-model="addEquiMdl.data.brand" name="brand" required class="input-text full-width" placeholder="Brand Name">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-12 col-sm-12">
                    <label>Description</label>
                    <textarea rows="5" ng-model="addEquiMdl.data.description" name="description" class="input-text full-width" placeholder="please tell us about equipment in detail"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-12 col-sm-12">
                    <label>Tags</label>
                    <span>please put tag values separated by Comma (,)</span>
                    <tags-input ng-model="addEquiMdl.tags">
                    </tags-input>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Daily Price</label>
                        <input type="text" name="dailyprice" ng-model="addEquiMdl.data.daily_price" required class="input-text full-width" placeholder="Daily Rent Price">
                    </div>
                </div>
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Weekly Price</label>
                        <input type="text" name="weeklyprice" ng-model="addEquiMdl.data.weekly_price" class="input-text full-width" placeholder="Weekly Rent Price">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Monthly Price</label>
                        <input type="text" name="monthlyprice" ng-model="addEquiMdl.data.monthly_price" required class="input-text full-width" placeholder="Monthly Rent Price ">
                    </div>
                </div>
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Selling Price</label>
                        <input type="text" class="input-text full-width" ng-model="addEquiMdl.data.sell_price" required placeholder="Selling Price for Equipment">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-4 col-sm-4">
                    <label>Category</label>
                    <div class="selector">
                        <select ng-model="addEquiMdl.category1" name="catgory1" required ng-options="cat.id as cat.name for cat in addEquiMdl.categories1 " class="full-width">
                        </select>
                    </div>
                </div>
                <div ng-show="addEquiMdl.categories2.length" class="col-sms-4 col-sm-4">
                    <label>Sub Category</label>
                    <div class="selector">
                        <select ng-model="addEquiMdl.category2" ng-options="cat.id as cat.name for cat in addEquiMdl.categories2 " class="full-width">
                        </select>
                    </div>
                </div>
                <div ng-show="addEquiMdl.categories3.length" class="col-sms-4 col-sm-4">
                    <label>Super Sub-category</label>
                    <div class="selector">
                        <select ng-model="addEquiMdl.category3" ng-options="cat.id as cat.name for cat in addEquiMdl.categories3 " class="full-width">
                        </select>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <label>Equipment Condition</label>
                    <div class="selector">
                        <select ng-model="addEquiMdl.data.condition" class="full-width">
                            <option value="used">Used</option>
                            <option value="new">New</option>
                        </select>
                    </div>
                </div>
                <div class="col-sms-6 col-sm-6">
                    <label>SKU</label>
                    <input ng-model="addEquiMdl.data.sku" type="text" class="input-text full-width">
                </div>
            </div>
            <div class="row form-group">

                <div class="col-sms-6 col-sm-6">
                    <label>Location</label>
                    <div class="selector">
                        <select name="location" ng-model="addEquiMdl.data.location" required class="full-width" ng-options="site.id as site.name for site in addEquiMdl.sites">
                        </select>
                    </div>
                </div>
                <div class="col-sms-6 col-sm-6">
                    <label>Quantity</label>
                    <input type="text" ng-model="addEquiMdl.data.qty" name="qty" class="input-text full-width" placeholder="Quantaty">
                </div>
            </div>
            <hr>
            <h2>Upload Profile Photo</h2>
            <div class="row form-group">
                <div class="col-sms-12 col-sm-6 no-float">
                    <div class="fileinput button" ngf-multiple="true" ngf-select ngf-change="addEquiMdl.filesToUpload=$files">Upload on file change</div>

                    <br/>
                    <div ngf-drop ng-model="addEquiMdl.filesToUpload" class="upload-drop-zone"
                         ngf-drag-over-class="drop" ngf-multiple="true" ngf-allow-dir="false"
                            >Drop Images here</div>
                    <div ng-if="addEquiMdl.filesToUpload.length">
                        Selected File:
                        <div ng-repeat="file in addEquiMdl.filesToUpload">
                            <div>
                                <div>{{file.name}}</div>
                                <div>
                                    <progress max="100" value="{{file.progress || 0}}">{{file.status}}</progress>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
            </div>
            <div ng-if="editMode">
                <div class="row" ng-repeat="img in addEquiMdl.data.images">
                    <div class="col-sms-6 col-sm-6">
                        <img ng-src="{{img.url}}" style="width:100px">
                    </div>
                    <div class="col-sms-3 col-sm-3">
                        <button ng-click="deleteImage($index)">Remove</button>
                    </div>
                </div>
            </div>
            <hr>

            <div class="from-group block">
                <button type="submit" class="button btn-medium orange" ng-click="add()">{{editMode ? 'SAVE' : 'ADD EQUIPMENT'}}</button>
                <button class="button btn-medium silver" ui-sref="main.account.equipments.list">CANCEL</button>
            </div>

        </div>
    </form>
</div>