<div id="dashboard-equipments" class="tab-pane fade in active">
	<h1 class="no-margin skin-color">My Equipments
		<button class="btn all-btn pull-right"><i class="icon soap-icon-plus"></i> Add New Equipment</button>
	</h1>
	<br />
	<div class="gray-area select-filter">
		<form>
				<label class="radio radio-inline">
					<input type="radio" name="filter" />
					<span class="radio-label">All</span>
				</label>
				<label class="radio radio-inline">
					<input type="radio" name="filter" />
					<span class="radio-label">On Rent</span>
				</label>
				<label class="radio radio-inline">
					<input type="radio" name="filter" />
					<span class="radio-label">Vacant</span>
				</label>
		</form>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<table class="table equipments-table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a href="" class="hover-effect popup-gallery">
							<img src="" class="gray-area">
						</a>
					</td>
					<td class="equip-desc">
						<h3>Breaker</h3>
						<p>Austin, Texas</p>
						<p>ID: xxxxxxxx</p>
					</td>
					<td class="time-td">
						<h3 class="time-util">Time Utilization: 47%</h3>
						<h3>Dolar Utilization: 82%</h3>
					</td>
					<td class="pull-center">
						<p>
							<button class="btn all-btn">View</button>
						</p>
						<a href="">Edit</a>
						<a href="">Archive</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="" class="hover-effect popup-gallery">
							<img src="" class="gray-area">
						</a>
					</td>
					<td class="equip-desc">
						<h3>Breaker</h3>
						<p>Austin, Texas</p>
						<p>ID: xxxxxxxx</p>
					</td>
					<td class="time-td">
						<h3 class="time-util">Time Utilization: 47%</h3>
						<h3>Dolar Utilization: 82%</h3>
					</td>
					<td class="pull-center">
						<p>
							<button class="btn all-btn">View</button>
						</p>
						<a href="">Edit</a>
						<a href="">Archive</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="" class="hover-effect popup-gallery">
							<img src="" class="gray-area">
						</a>
					</td>
					<td class="equip-desc">
						<h3>Breaker</h3>
						<p>Austin, Texas</p>
						<p>ID: xxxxxxxx</p>
					</td>
					<td class="time-td">
						<h3 class="time-util">Time Utilization: 47%</h3>
						<h3>Dolar Utilization: 82%</h3>
					</td>
					<td class="pull-center">
						<p>
							<button class="btn all-btn">View</button>
						</p>
						<a href="">Edit</a>
						<a href="">Archive</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>