<div class="booking-information travelo-box" style="margin-bottom: 0px;">

    <div class="booking-confirmation clearfix">
        <i class="soap-icon-insurance icon circle"></i>
        <div class="message">
            <h4 class="main-message">Your Order is completed !</h4>
            <p>Please find your order details below.</p>
        </div>
        <button class="btn all-btn pull-right btn-right">Cancel Order</button>
        <button class="btn all-btn pull-right btn-right">Return</button>
        <button class="btn all-btn pull-right">Print Details</button>

    </div>
    <hr />
    <h2>Order Details</h2>
    <dl class="term-description">
        <dt>Order number:</dt><dd>{{mdl.order.id}}</dd>
        <dt>Name</dt><dd>{{mdl.order.billing_address.first_name}} {{mdl.order.billing_address.last_name}}</dd>
        <dt>Phone:</dt><dd>{{mdl.order.billing_address.phone}}</dd>
        <dt>Shipping Address</dt><dd>{{mdl.order.billing_address.address1+' '+order.billing_address.address2}}</dd>
        <dt>Billing Address</dt><dd>{{mdl.order.billing_address.address1+' '+order.billing_address.address2}}</dd>
        <dt>Town / City:</dt><dd>{{mdl.order.billing_address.city.name}}</dd>
        <dt>ZIP code:</dt><dd>{{mdl.order.billing_address.zip_code}}</dd>
        <dt>Country:</dt><dd>{{mdl.order.billing_address.country.name}}</dd>
    </dl>

    <hr />

</div>
<div id="tour-details" class="travelo-box order-details" load-indicator>
    <div ng-repeat="item in mdl.order.items" class="intro2 small-box border-box table-wrapper hidden-table-sms">
        <div class="image-container table-cell"><img src="http://placehold.it/80x80" alt=""></div>
        <div class="description">
            <h4>{{item.detail.name}}</h4>
        </div>
        <div class="table-cell">
            <dl class="term-description">
                <dt>Rented For</dt><dd>{{item.cost_breakup.subtotal.rent_unit_days}} days</dd>
                <dt>Order Type</dt><dd>{{item.shipping_kind}}</dd>
                <dt>Status</dt><dd>Approved</dd>
            </dl>
        </div>
        <div class="price-section table-cell">
            <div class="price">
                <div class="price-per-unit">${{item.subtotal | number}}</div>
            </div>
        </div>
    </div>
    <div class="intro2 small-box border-box table-wrapper hidden-table-sms cart-total">
        <div class="description">
            <h4>Order Total</h4>
        </div>

        <br />
        <div class="table-cell">
            <dl class="term-description">
                <dt>Shipping Cost</dt><dd>${{mdl.order.shipping_charge | number}}</dd>
                <dt>Additional Charges</dt><dd>${{mdl.order.shipping_charge | number}}</dd>
            </dl>
        </div>
        <div class="price-section table-cell">
            <div class="price"><div class="price-per-unit">${{mdl.order.total | number}}</div></div>
        </div>
    </div>
    <button class="btn all-btn pull-right" ui-sref="main.account.orders.list">Back to Order List</button>
</div>
