<div class="edit-profile">
    <form validate-form name="changePwdMdl.form" novalidate class="edit-profile-form">
        <h2>Change Password</h2>

        <div class="col-sm-9 no-padding no-float">
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Existing Password</label>
                        <input type="password" name="existingPassword" ng-model="changePwdMdl.existing" required
                               class="input-text full-width" placeholder="existing password">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>New Password</label>
                        <input type="password" name="newPassword" ng-model="changePwdMdl.new" required
                               class="input-text full-width" placeholder="new password">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Confirm Password</label>
                        <input type="password" name="confirmPassword" ng-model="changePwdMdl.confirm" required
                               class="input-text full-width" placeholder="confirm password">
                    </div>
                </div>
            </div>


            <div class="from-group">
                <button type="submit" ng-click="changePassword()" class="btn-medium col-sms-6 col-sm-4">CHANGE</button>
                <button ui-sref="main.account.profile.view" class="btn-medium btn-default col-sms-6 col-sm-4">CANCEL
                </button>
            </div>

        </div>
    </form>
</div>