<div id="settings" class="tab-pane">
    <h2>Account Settings</h2>
    <div>
        <hr />
        <tabset>
            <tab heading="General Settings">
                <form>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <label>Minimum Contract Period</label>
                            <input type="text" class="input-text full-width" placeholder="number of days">
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="Shipping">
                <h5 class="skin-color">Standard Method</h5>
                <div class="row form-group">
                    <div class="col-xs-8 col-sm-4 col-md-3">
                        <label>Source Location</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-3">
                        <label>Destination</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <label>Charges</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <button class="btn-small uppercase set-top-button">Add More</button>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <button class="btn-small uppercase red set-top-button">Remove</button>
                    </div>
                </div>
                <hr>
                <div class="row form-group">
                    <div class="col-xs-8 col-sm-4 col-md-3">
                        <label>Source Location</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-3">
                        <label>Destination</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <label>Charges</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <button class="btn-small uppercase set-top-button">Add More</button>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <button class="btn-small uppercase red set-top-button">Remove</button>
                    </div>
                </div>
                <hr>
                <div class="row form-group">
                    <div class="col-xs-8 col-sm-4 col-md-3">
                        <label>Source Location</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-3">
                        <label>Destination</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <label>Charges</label>
                        <input type="text" class="input-text full-width">
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <button class="btn-small uppercase set-top-button">Add More</button>
                    </div>

                </div>
                <hr>
            </tab>
            <tab heading="Additional Charges">addidional charges</tab>
        </tabset>

    </div>
    <!--<h5 class="skin-color">Change Your Password</h5>
    <form>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label>Old Password</label>
                <input type="text" class="input-text full-width">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label>Enter New Password</label>
                <input type="text" class="input-text full-width">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label>Confirm New password</label>
                <input type="text" class="input-text full-width">
            </div>
        </div>
        <div class="form-group">
            <button class="btn-medium">UPDATE PASSWORD</button>
        </div>
    </form>
    <hr>
    <h5 class="skin-color">Change Your Email</h5>
    <form>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label>Old email</label>
                <input type="text" class="input-text full-width">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label>Enter New Email</label>
                <input type="text" class="input-text full-width">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label>Confirm New Email</label>
                <input type="text" class="input-text full-width">
            </div>
        </div>
        <div class="form-group">
            <button class="btn-medium">UPDATE EMAIL ADDRESS</button>
        </div>
    </form>
    <hr>
    <h5 class="skin-color">Send Me Emails When</h5>
    <form>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Travelo has periodic offers and deals on really cool destinations.
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Travelo has fun company news, as well as periodic emails.
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> I have an upcoming reservation.
            </label>
        </div>
        <button class="btn-medium uppercase">Update All Settings</button>
    </form>-->
</div>