
<h2>My Equipments<button class="btn-mini status pull-right add-button" ui-sref="main.account.equipments.add">Add New Equipment</button></h2>
<div class="filter-section gray-area clearfix">
    <form>
        <label class="radio radio-inline" ng-class="{'checked':listEquiMdl.filter=='all'}" ng-click="listEquiMdl.updateFilter('all')">
            <input type="radio" name="filter" />
            All Equipments
        </label>
        <label class="radio radio-inline" ng-class="{'checked':listEquiMdl.filter=='rent'}" ng-click="listEquiMdl.updateFilter('rent')">
            <input type="radio" name="filter" />
            On Rent
        </label>
        <label class="radio radio-inline" ng-class="{'checked':listEquiMdl.filter=='vacant'}" ng-click="listEquiMdl.updateFilter('vacant')">
            <input type="radio" name="filter" />
            Vacant
        </label>
    </form>
</div>
<div class="booking-history">
    <div class="booking-info clearfix" ng-repeat="pro in listEquiMdl.products">
        <div class="date">
            <a class="hover-effect popup-gallery"><img width="72" height="72" alt="" src=""></a>
        </div>
        <h4 class="box-title">
            <i class="icon soap-icon-departure takeoff-effect yellow-color circle"></i>{{pro.name}}
            <small>{{pro.location.city.name}},{{pro.location.state.name}}</small>
        </h4>
        <dl class="info">
            <dt>Time Utilization</dt>
            <dd>47%</dd>
            <dt>Dollar Utilization</dt>
            <dd>82%</dd>
        </dl>

        <button class="btn-mini status" ng-click="delete(pro)">Archive</button>
        <button class="btn-mini status" ng-click="edit(pro)">Edit</button>
        <button class="btn-mini status" ui-sref="main.equiDetails({id:pro.id})">View</button>
    </div>
    <a ng-click="listEquiMdl.next()" class="uppercase full-width button btn-large" ng-show="listEquiMdl.nextAvailable">
        <span ng-show="listEquiMdl.working" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        load more </a>
</div>