<div class="loader-div" loader>
    <img src="assets/images/loader.gif"/>
    <p>Excavating Awesomeness</p>
</div>
<div class="booking-information travelo-box" style="margin-bottom: 0px;">
    <div>
        <button class="btn all-btn primary-btn" ng-click="back()"><i class="fa fa-chevron-left"></i>&nbsp Back</button>
    </div>
    <hr>
    <form ng-submit="mdl.add()" name="mdl.form" load-indicator class="guest-reviews single-conversation">
        <h2>Inquiry</h2>

        <div class="guest-review table-wrapper my-message">
            <div class="col-xs-3 col-md-2 author table-cell">
                <p class="name">Inquiry for</p>
            </div>
            <div class="col-xs-9 col-md-10 table-cell comment-container">
                <div class="comment-header clearfix">
                    <h4 class="comment-title">{{mdl.equi.name}}</h4>
                </div>
            </div>
        </div>
        <div class="guest-review table-wrapper my-message">
            <div class="col-xs-3 col-md-2 author table-cell">
                <p class="name">Subject</p>
            </div>
            <div class="col-xs-9 col-md-10 table-cell comment-container">
                <div class="comment-header clearfix">
                    <h4 class="comment-title" style="width: 100%; font-style: normal; font-size: 14px;">
                        <input required name="subject" ng-model="mdl.subject" type="text" placeholder="Subject" class="subject-line form-control" />
                    </h4>
                </div>
            </div>
        </div>
        <div class="guest-review table-wrapper my-message">
            <div class="col-xs-3 col-md-2 author table-cell">
                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263"/></a>

                <p class="name">David Jhon</p>

                <p class="date">NOV, 12, 2013</p>
            </div>
            <div class="col-xs-9 col-md-10 table-cell comment-container">
                <div class="comment-content">
                    <textarea required name="text" ng-model="mdl.text" class="reply-text-area form-control" style="height: 250px;"></textarea>
                    <button class="btn all-btn primary-btn" style="margin-bottom: 20px; margin-top: 10px;">Send</button>
                </div>
            </div>

        </div>

    </form>
</div>