<div class="loader-div" loader>
    <img src="assets/images/loader.gif"/>
    <p>Excavating Awesomeness</p>
</div>
<!-- <div class="booking-information travelo-box" style="margin-bottom: 0px;">
    <div>
        <button class="btn all-btn primary-btn" ng-click="back()"><i class="fa fa-chevron-left"></i>&nbsp Back</button>
    </div>
    <hr>
    <form ng-submit="mdl.add()" name="mdl.form" load-indicator class="guest-reviews single-conversation">
        <h2>Inquiry</h2>

        <div class="guest-review table-wrapper my-message">
            <div class="col-xs-3 col-md-2 author table-cell">
                <p class="name">Inquiry for</p>
            </div>
            <div class="col-xs-9 col-md-10 table-cell comment-container">
                <div class="comment-header clearfix">
                    <h4 class="comment-title">{{mdl.equi.name}}</h4>
                </div>
            </div>
        </div>
        <div class="guest-review table-wrapper my-message">
            <div class="col-xs-3 col-md-2 author table-cell">
                <p class="name">Subject</p>
            </div>
            <div class="col-xs-9 col-md-10 table-cell comment-container">
                <div class="comment-header clearfix">
                    <h4 class="comment-title" style="width: 100%; font-style: normal; font-size: 14px;">
                        <input required name="subject" ng-model="mdl.subject" type="text" placeholder="Subject" class="subject-line form-control" />
                    </h4>
                </div>
            </div>
        </div>
        <div class="guest-review table-wrapper my-message">
            <div class="col-xs-3 col-md-2 author table-cell">
                <a href="#"><img src="http://placehold.it/270x263" alt="" width="270" height="263"/></a>

                <p class="name">David Jhon</p>

                <p class="date">NOV, 12, 2013</p>
            </div>
            <div class="col-xs-9 col-md-10 table-cell comment-container">
                <div class="comment-content">
                    <textarea required name="text" ng-model="mdl.text" class="reply-text-area form-control" style="height: 250px;"></textarea>
                    <button class="btn all-btn primary-btn" style="margin-bottom: 20px; margin-top: 10px;">Send</button>
                </div>
            </div>

        </div>

    </form>
</div> -->
<!-- mdl.equi -->
<form ng-submit="mdl.add()" name="mdl.form" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inquiry-form">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <div class="image-div">
            <img ng-src="{{(mdl.equi.images[0].url) || 'http://dummyimage.com/270x160/cccccc/ffffff&text=No+Image+Found'}}">
        </div>
        <div class="content-div">
            <h4 ng-model="mdl.subject" ng-if="!editSubject">{{mdl.equi.name}}
                <a class="pull-right pointerhover" ng-click="editSub()">Edit Subject</a>
            </h4>
            <input type="text" value="{{mdl.equi.name}}" placeholder="Subject" ng-model="mdl.subject" class="form-control" ng-if="editSubject" style="width: 50%; display: inline-block; margin-bottom: 5px;">
            <a class="pull-right pointerhover" ng-click="editSub()" ng-if="editSubject">Cancel</a>
            <p class="location-p">
                <i class="fa fa-map-marker orange-color"></i> 
                {{mdl.equi.location.city.name}}, {{mdl.equi.location.state.name}}, {{mdl.equi.location.country.name}}
            </p>
            <!-- <p>Zip Code: <span class="bold-font">{{mdl.equi.location.zip_code}}</span></p> -->
            <p>
                <i class="fa fa-clock-o orange-color"></i> 
                <span class="bold-font">Local Time:</span> 04: 27 PM March 12, 2016
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding message-area">
        <textarea class="form-control" ng-model="mdl.text" placeholder="Your message..."></textarea>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding text-right">
        <button class="btn all-btn primary-btn">Send</button>
    </div>
</form>