
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seller-header search-col no-padding">
	<h1 class="no-margin skin-color seller-heading-font">My Orders</h1>
	<div class="sb-search btn-right" ng-class="{'sb-search-open': filterOpen}">
			<form>
				<input date-range-picker class="form-control date-picker sb-search-input" placeholder="Select Dates" type="text" ng-model="date" ng-class="{'no-border': !filterOpen}" />
				<span class="sb-icon-search filter-icon form-control"ng-click="filterBar()"></span>
			</form>
		</div>
		<div id="sb-search" class="sb-search" ng-class="{'sb-search-open': searchOpen}">
			<form>
				<input class="sb-search-input form-control" placeholder="Search" type="text" value="" name="search" id="search" ng-class="{'no-border': !searchOpen}">
				<input class="sb-search-submit form-control" type="submit" value=""ng-click="searchBar()">
				<span class="sb-icon-search form-control"ng-click="searchBar()"></span>
			</form>
		</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<hr />
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<table class="table order-table">
		<tbody>
			<tr ng-repeat="order in mdl.orders">
				<td>
					<p class="heading-text no-margin">
						<i class="icon soap-icon-card yellow-color circle"></i>&nbsp Order
					</p>
					<small>ID : {{order.id}}</small>
				</td>
				<td class="heading-text">
					Jan 28, 2015
				</td>
				<td class="heading-text">{{order.items.length}} items
				</td>
				<td class="heading-text">${{order.total | number}}
				</td>
				<td>
					<a ui-sref="main.account.orders.view({id:order.id})" class="pull-right btn all-btn primary-btn">
						<!-- <i class="fa fa-eye" ui-sref="main.account.orders.view({id:order.id})"></i> -->
						View
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>