<div class="loader-div" loader>
    <img src="assets/images/loader.gif" style="height: 100px; width:100px"/>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 seller-header search-col no-padding">
	<h1 class="no-margin skin-color seller-heading-font">My Orders</h1>
	<div class="search-sort-div hide-search hidden-xs" ng-class="{'show-search': searchOpen}">
		<i class="fa fa-search" ng-click="searchBar()"></i>
		<input type="text" placeholder="Enter Order ID" class="form-control"  ng-model="mdl.searchText" >

	</div>
	<div class="search-sort-div hide-search hidden-xs" ng-class="{'show-search': filterOpen}">
		<i class="fa fa-filter" ng-click="filterBar()"></i>

    <input type="daterange" class="form-control date-picker" ng-model="myDateRange" ranges="mdl.ranges" open="left" />
	</div>
	<div class="visible-xs">
		<div class="pull-right mobile-icons">
			<i class="fa fa-filter orange-color pull-right btn-right" ng-click="mobilefilterBar()"></i>
			<i class="fa fa-search orange-color pull-right" ng-click="mobilesearchBar()"></i>
		</div>
		<div class="arrow_box" ng-show="mobilesearchOpen">
			<input class="form-control" type="text" placeholder="Search" ng-model="mdl.searchText">
		</div>
		<div class="arrow_box filter_arrow_box" ng-show="mobilefilterOpen">
      <input type="daterange" class="form-control date-picker" ng-model="myDateRange" ranges="mdl.ranges" open="left" />
		</div>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<hr />
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<table class="table order-table hidden-xs">
		<tbody>
			<tr ng-repeat="order in mdl.orders| filter:{ id : mdl.searchText} " >
				<td>
					<p class="heading-text no-margin">
						<i class="icon soap-icon-card yellow-color circle"></i>&nbsp Order
					</p>
					<small>ID : {{order.id}}</small>
				</td>
				<td class="heading-text">
					{{order.date_created_at | date:"MMM dd,yyyy"}}
				</td>
				<td class="heading-text">{{order.items.length}} items
				</td>
				<td class="heading-text">${{order.total | number}}
				</td>
				<td>
					<a ui-sref="main.account.orders.view({id:order.id})" class="pull-right btn small-btn secondary-btn">
						<!-- <i class="fa fa-eye" ui-sref="main.account.orders.view({id:order.id})"></i> -->
						View
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-repeat="order in mdl.orders" class="visible-xs mobile-list">
		<p>Order ID: <span class="pull-right">{{order.id}}</span></p>
		<p>Date: <span class="pull-right">Jan 28, 2015</span></p>
		<p>{{order.items.length}} items</p>
		<p>${{order.total | number}} <a ui-sref="main.account.orders.view({id:order.id})" class="pull-right btn small-btn secondary-btn">View</a></p>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
			<hr style="margin-top: 15px;"/>
		</div>
	</div>
</div>
