<div class="travelo-login-box travelo-box">
    <h2>Forgot Password</h2>
    <form validate-form name="forgotMdl.form" novalidate >
        <div class="form-group">
            <input type="text" name="email" ng-model="forgotMdl.data.email" required class="input-text full-width" placeholder="email address">
        </div>
        <div class="error">{{forgotMdl.errorMessage}}</div>
        <button process-indicator type="submit" class="full-width btn-medium" ng-click="forgotMdl.reset()">Reset</button>
    </form>
    <div class="seperator"></div>
    <a class="goto-signup soap-popupbox pointerhover" ng-click="forgotMdl.cancel()">Cancel</a></p>
</div>