<div class="col-md-9">
    <div class="booking-section travelo-box">

        <form class="booking-form" method="post" action="booking-handler.php">
            <div class="person-information">
                <h2>Enter Shipping Address</h2>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>First Name</label>
                        <input type="text" name="firstname" required class="input-text full-width" placeholder="Enter First Name">
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Last Name</label>
                        <input type="text" name="lastname" required class="input-text full-width" placeholder="Enter Last Name">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>Company Name</label>
                        <input type="text" name="companyname" required class="input-text full-width" placeholder="Enter Company Name">
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Phone Number</label>
                        <input type="text" name="phonenumber" required class="input-text full-width" placeholder="Enter Phone Name">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>Jobsite Name</label>
                        <input type="text" ng-model="mdl.data.name" name="jobsitename" required class="input-text full-width" placeholder="Enter Jobsite Name">
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Kind</label>
                        <div class="selector">
                            <select ng-model="mdl.data.kind" name="kind" required ng-options="key as value for (key,value) in mdl.kinds " class="full-width">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>Address Line 1</label>
                        <input type="text" name="address_line_1" ng-model="mdl.data.address1" required class="input-text full-width" placeholder="Address Line 1">
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Address Line 2</label>
                        <input type="text" name="address_line_2" ng-model="mdl.data.address2" class="input-text full-width" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>Country</label>
                        <div class="selector">
                            <select ng-model="mdl.data.country"  name="country" required class="full-width" ng-options="key as value for (key,value) in mdl.countries">
                            </select>
                        </div>
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>State</label>
                        <div class="selector">
                            <select ng-model="mdl.data.state" name="state" required class="full-width" ng-options="key as value for (key,value) in mdl.states">
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>City</label>
                        <div class="selector">
                            <select ng-model="mdl.data.country"  name="country" required class="full-width" ng-options="key as value for (key,value) in mdl.countries">
                            </select>
                        </div>
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Zip Code</label>
                        <div class="selector">
                            <select ng-model="mdl.data.state" name="state" required class="full-width" ng-options="key as value for (key,value) in mdl.states">
                            </select>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="shipping_same_as_billing" value="1"><span class="skin-color">&nbsp; Shipping Address</span> is same as <span class="skin-color">Billing Address</span>
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="person-information">
                <h2>Enter Billing Address</h2>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>First Name</label>
                        <input type="text" name="firstname" required class="input-text full-width" placeholder="Enter First Name">
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Last Name</label>
                        <input type="text" name="lastname" required class="input-text full-width" placeholder="Enter Last Name">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>Company Name</label>
                        <input type="text" name="companyname" required class="input-text full-width" placeholder="Enter Company Name">
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Phone Number</label>
                        <input type="text" name="phonenumber" required class="input-text full-width" placeholder="Enter Phone Name">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>Kind</label>
                        <div class="selector">
                            <select ng-model="mdl.data.kind" name="kind" required ng-options="key as value for (key,value) in mdl.kinds " class="full-width">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>Address Line 1</label>
                        <input type="text" name="address_line_1" ng-model="mdl.data.address1" required class="input-text full-width" placeholder="Address Line 1">
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Address Line 2</label>
                        <input type="text" name="address_line_2" ng-model="mdl.data.address2" class="input-text full-width" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>Country</label>
                        <div class="selector">
                            <select ng-model="mdl.data.country"  name="country" required class="full-width" ng-options="key as value for (key,value) in mdl.countries">
                            </select>
                        </div>
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>State</label>
                        <div class="selector">
                            <select ng-model="mdl.data.state" name="state" required class="full-width" ng-options="key as value for (key,value) in mdl.states">
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row form-group">
                    <div class="col-sms-6 col-sm-6">
                        <label>City</label>
                        <div class="selector">
                            <select ng-model="mdl.data.country"  name="country" required class="full-width" ng-options="key as value for (key,value) in mdl.countries">
                            </select>
                        </div>
                    </div>
                    <div class="col-sms-6 col-sm-6">
                        <label>Zip Code</label>
                        <div class="selector">
                            <select ng-model="mdl.data.state" name="state" required class="full-width" ng-options="key as value for (key,value) in mdl.states">
                            </select>
                        </div>
                    </div>
                </div>
                <br /><br />

            </div>
            <div class="card-information">
                <h2>Your Card Information</h2>
                <div class="form-group row">
                    <div class="col-sm-6 col-md-5">
                        <label>Credit Card Type</label>
                        <div class="selector">
                            <select class="full-width">
                                <option>select a card</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <label>Card holder name</label>
                        <input type="text" class="input-text full-width" value="" placeholder="" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 col-md-5">
                        <label>Card number</label>
                        <input type="text" class="input-text full-width" value="" placeholder="" />
                    </div>
                    <div class="col-sm-6 col-md-5">
                        <label>Card identification number</label>
                        <input type="text" class="input-text full-width" value="" placeholder="" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 col-md-5">
                        <label>Expiration Date</label>
                        <div class="constant-column-2">
                            <div class="selector">
                                <select class="full-width">
                                    <option>month</option>
                                </select>
                            </div>
                            <div class="selector">
                                <select class="full-width">
                                    <option>year</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <label>billing zip code</label>
                        <input type="text" class="input-text full-width" value="" placeholder="" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> By continuing, you agree to the <a href="#"><span class="skin-color">Terms and Conditions</span></a>.
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 col-md-5">
                    <button type="submit" class="full-width btn-large">CONFIRM BOOKING</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="sidebar col-sms-6 col-sm-4 col-md-3">
    <div class="booking-details travelo-box">
        <h4>Cart Summary</h4>
        <article class="tour-detail">
            <figure class="clearfix">
                <a title="" href="tour-detailed1.html" class="middle-block"><img class="middle-item" alt="" src="http://placehold.it/124x78"></a>
                <div class="travel-title">
                    <h5 class="box-title">Product Details <small>Location name</small><small>$ 3546.41</small></h5>
                    <a href="tour-detailed1.html" class="button green">EDIT</a>
                </div>
            </figure>
            <figure class="clearfix">
                <a title="" href="tour-detailed1.html" class="middle-block"><img class="middle-item" alt="" src="http://placehold.it/124x78"></a>
                <div class="travel-title">
                    <h5 class="box-title">Product Details <small>Location name</small><small>$ 3546.41</small></h5>
                    <a href="tour-detailed1.html" class="button green">EDIT</a>
                </div>
            </figure>
            <figure class="clearfix">
                <a title="" href="tour-detailed1.html" class="middle-block"><img class="middle-item" alt="" src="http://placehold.it/124x78"></a>
                <div class="travel-title">
                    <h5 class="box-title">Product Details <small>Location name</small><small>$ 3546.41</small></h5>
                    <a href="tour-detailed1.html" class="button green">EDIT</a>
                </div>
            </figure>


            <!--<div class="details">
                <div class="icon-box style11 full-width">
                    <div class="icon-wrapper">
                        <i class="soap-icon-calendar"></i>
                    </div>
                    <dl class="details">
                        <dt class="skin-color">Date</dt>
                        <dd>27 jan 2015 to 30 jan 2015</dd>
                    </dl>
                </div>
                <div class="icon-box style11 full-width">
                    <div class="icon-wrapper">
                        <i class="soap-icon-clock"></i>
                    </div>
                    <dl class="details">
                        <dt class="skin-color">Duration</dt>
                        <dd>1 day 3 hours</dd>
                    </dl>
                </div>
                <div class="icon-box style11 full-width">
                    <div class="icon-wrapper">
                        <i class="soap-icon-departure"></i>
                    </div>
                    <dl class="details">
                        <dt class="skin-color">Location</dt>
                        <dd>Rome</dd>
                    </dl>
                </div>
            </div>-->
        </article>
        <dl class="other-details">
            <dt class="feature" style="border-top: none;">Shipping Cost</dt><dd class="value" style="border-top: none;">$ 100</dd>
            <dt class="feature">Service Tax</dt><dd class="value">$50</dd>
            <dt class="total-price">Total Price</dt><dd class="total-price-value">$534.00</dd>
        </dl>
    </div>

    <div class="travelo-box contact-box">
        <h4>Need Marketplace Help?</h4>
        <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
        <address class="contact-details">
            <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
            <br>
            <a class="contact-email" href="#">help@marketplace.com</a>
        </address>
    </div>
</div>