<div id="settings" class="tab-pane col-md-12 col-sm-12">
    <h2>Account Settings</h2>
    <div class="settings">
        <hr />

        <ul class="nav nav-tabs">
            <li ui-sref-active="active" ui-sref="main.sellerAccount.settings.general">
                <a class="ng-click-active">General Settings</a>
            </li>
            <li ui-sref-active="active" ui-sref="main.sellerAccount.settings.shipping">
                <a class="ng-click-active">Shipping</a>
            </li>
            <li ui-sref-active="active" ui-sref="main.sellerAccount.settings.additionalCharges">
                <a class="ng-click-active">Additional Charges</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <ui-view></ui-view>
            </div>
        </div>

    </div>

</div>