<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 progress-bar-col">
        <ul class="progress-indicator">
            <li class="completed">
                <span class="bubble"></span>
                <p>1. Delivery</p>
            </li>
            <li class="active">
                <span class="bubble"></span>
                <p>2. Payment</p>
            </li>
            <li class="">
                <span class="bubble"></span>
                <p>3. Complete</p>
            </li>
        </ul>
    </div>
<div>
    <form name="payment" id="braintree-payment-form" ng-submit="mdl.pay()">
        <h2>Braintree Payment Form</h2>
        <div class="col-sm-9 no-padding no-float shortcode">
            <braintree-dropin options="mdl.options"></braintree-dropin>
            <!--<div class="row form-group">-->
                <!--<div class="col-sms-6 col-sm-6">-->
                    <!--<label>Card Details</label>-->
                    <!--<input ng-model="creditCard.number" placeholder="4111111111111111" />-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row form-group">-->
                <!--<div class="col-sms-6 col-sm-6">-->
                    <!--<label>Date of Expiry</label>-->
                    <!--<input ng-model="creditCard.expirationDate" placeholder="10/18"/>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <button type="submit" value="Purchase" class="button btn-medium orange">Purchase</button>
                </div>
            </div>
        </div>
    </form>

</div>