<h5 class="skin-color">Additional Charges</h5>
<table class="table additional-charges-table">
  <thead>
    <tr>
      <th>Charge Name</th>
      <th>Value</th>
      <th>Unit</th>
      <th>Item Kind</th>
      <th>Category</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="charge in chargesMdl.charges" ng-if="!charge.edit">
      <td>{{charge.name}}</td>
      <td>{{charge.value}}</td>
      <td>{{charge.unit}}</td>
      <td>{{charge.item_kind}}</td>
      <td class="category">{{charge.categoryNames.join(',\n')}}</td>
      <td>
        <button class="btn all-btn" ng-click="chargesMdl.edit(charge)">Edit</button>
      </td>
      <td>
        <button class="btn all-btn" ng-click="chargesMdl.delete(charge)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<!-- <div class="row form-group">
    <div class="col-xs-6 col-sm-2 col-md-2">
        <label>Charge Name</label>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2">
        <label>Value</label>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2">
        <label>Unit</label>
    </div>
    <div class="col-xs-6 col-sm-2 col-md-2">
        <label>Item Kind</label>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
        <label>Category</label>
    </div>
</div> -->
<div ng-repeat="charge in chargesMdl.charges" class="row form-group light-fonts">
    <!-- <div ng-if="!charge.edit">
        <div class="col-xs-6 col-sm-2 col-md-2">
            <label>{{charge.name}}</label>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2">
            <label>{{charge.value}}</label>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2">
            <label>{{charge.unit}}</label>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2">
            <label>{{charge.item_kind}}</label>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
            <label>{{charge.categoryNames.join(',\n')}}</label>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-1">
            <button class="btn all-btn" ng-click="chargesMdl.edit(charge)">Edit</button>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-1">
            <button class="btn all-btn" ng-click="chargesMdl.delete(charge)">Delete</button>
        </div>
    </div> -->
    <div ng-if="charge.edit">
        <form novalidate validate-form="validateEditForm" name="chargesMdl.editForm">

            <div class="col-xs-6 col-sm-2 col-md-2">
                <input type="text" ng-model="chargesMdl.editData.name" name="name" class="input-text full-width"
                       placeholder="Charge Name"> <!-- dropdown -->
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2">
                <input type="text" ng-model="chargesMdl.editData.value" name="value" class="input-text full-width"
                       placeholder="Value">
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2">
                <select ng-model="chargesMdl.editData.unit" name="unit">
                    <option value="flat">Flat</option>
                    <option value="pct">Percentage</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2">
                <select ng-model="chargesMdl.editData.item_kind" name="kind">
                    <option value="rental">Rental</option>
                    <option value="purchase">Purchase</option>
                    <option value="all">All</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2">
                <tags-input ng-model="chargesMdl.selectedCatsToEdit" class="edit-tags-directive">
                    <auto-complete min-length="1" load-on-focus="'true'" debounce-delay="'0'"
                                   source="chargesMdl.categories"></auto-complete>
                </tags-input>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-1">
                <button class="btn all-btn auto-width update-btn" ng-click="chargesMdl.update(charge)">Update</button>
                <br>
                <button class="btn all-btn auto-width" ng-click="chargesMdl.cancelEdit(charge)">Cancel</button>
            </div>
        </form>
    </div>
</div>
<hr>
<div class="row form-group">
    <form novalidate validate-form="validateAddForm" name="chargesMdl.addForm">

        <div class="col-xs-6 col-sm-2 col-md-2">
            <input type="text" ng-model="chargesMdl.addData.name" name="name" class="input-text full-width"
                   placeholder="Charge Name"> <!-- dropdown -->
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2">
            <input type="text" ng-model="chargesMdl.addData.value" name="value" class="input-text full-width"
                   placeholder="Value">
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2">
            <select ng-model="chargesMdl.addData.unit" name="unit">
                <option value="flat">Flat</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2">
            <select ng-model="chargesMdl.addData.item_kind" name="kind">
                <option value="rental">rental</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2">
            <tags-input ng-model="chargesMdl.selectedCatsToAdd" class="tags-directive form-control">
                <auto-complete min-length="1" load-on-focus="'true'" debounce-delay="'0'"
                               source="chargesMdl.categories"></auto-complete>
            </tags-input>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-1">
            <button class="btn all-btn auto-width" ng-click="chargesMdl.add()">Add</button>
        </div>
    </form>

</div>
<hr>