<div class="view-profile">
    <article class="image-box style2 box innerstyle personal-details">
        <div >
            <button style="margin:0px 5px" ui-sref="main.account.profile.edit" class="btn pull-right all-btn">EDIT PROFILE</button>
            <button ui-sref="main.account.profile.changePassword" class="btn pull-right all-btn">CHANGE PASSWORD</button>
            <h2 class="box-title fullname">{{mdl.user.fullname}}</h2>
            <dl class="term-description col-lg-6">
                <dt>user name:</dt><dd>{{mdl.user.email}}</dd>
                <dt>phone number:</dt><dd>{{mdl.user.phone}}</dd>
                <dt>store name:</dt><dd>{{mdl.user.store_name}}</dd>
                <dt>time zone:</dt><dd>{{mdl.user.timezone}}</dd>
                <dt>ZIP code:</dt><dd>{{mdl.user.zip_code}}</dd>
                <dt>Credit Form</dt>
                <dd>
                    <a ng-if="mdl.user.credit_form.url" ng-href="{{mdl.user.credit_form.url}}">Download</a>
                </dd>
            </dl>
        </div>
    </article>

</div>