
<div id="tour-details" class="travelo-box">
    <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
        <div class="image-container table-cell"><img src="http://placehold.it/166x150" alt=""></div>
        <div class="description">
            <h4>Equipment Name Here Equipment Name Here</h4>
        </div>
        <div class="description">
            <select ng-model="mdl.qty" ng-options="qty for qty in mdl.qtys" class="form-control white-bg">
                <option value="">Select</option>
            </select>
            <select ng-model="mdl.ot" ng-options="key as value for (key,value) in mdl.shippingKinds" class="form-control white-bg">
                <option value="">Order Type</option>
            </select>
        </div>
        <br />
        <div class="checkbox make-postpaid">
            <label>
                <input type="checkbox">Make this Postpaid
            </label>
        </div>

        <br />
        <div class="table-cell">
            <dl class="term-description">
                <dt>Operation</dt><dd>Rented</dd>
                <dt>From</dt><dd>Nov 21, 2015</dd>
                <dt>To</dt><dd>Nov 24, 2015</dd>
                <dt>Payment Type</dt><dd>Prepaid</dd>
            </dl>
        </div>
        <div class="price-section table-cell">
            <div class="price"><small>4 Days on Rent</small><div class="price-per-unit">$534</div></div>
            <a class="button green btn-small uppercase">Remove</a>
        </div>
    </div>
    <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
        <div class="description">
            <h4>Cart Total</h4>
        </div>

        <br />
        <div class="table-cell">
            <dl class="term-description">
                <dt>Shipping Cost</dt><dd>$280</dd>
                <dt>Service Tax </dt><dd>$896</dd>

            </dl>
        </div>
        <div class="price-section table-cell" style="padding: 0; padding-left: 25px;">
            <div class="price"><div class="price-per-unit">$5134</div></div>
            <a  class="button green btn-small uppercase">Checkout</a>
        </div>
    </div>

    <div class="tour-google-map block"></div>

    <h2>General Information About Rome</h2>
    <p>Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus. Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl. Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.</p>
</div>