<!-- <div id="tour-details" class="travelo-box" load-indicator>
		<div ng-repeat="item in mdl.data.rental_products" class="intro2 small-box border-box table-wrapper hidden-table-sms">
				<div class="image-container table-cell"><img ng-src="{{(item.product.image) || 'http://placehold.it/166x150'}}" alt=""></div>
				<div class="description">
						<h4>{{item.product.name}}</h4>
				</div>
				<div class="description">
						<select ng-change="update(item)" ng-model="item.qty" ng-options="qty for qty in mdl.qtys" class="form-control white-bg">
								<option value="">Select</option>
						</select>
						<select ng-change="update(item)" ng-model="item.shipping_kind" ng-options="key as value for (key,value) in mdl.shippingKinds" class="form-control white-bg">
								<option value="">Order Type</option>
						</select>
				</div>
				<br />
				<div class="checkbox make-postpaid checked">
						<label>
								<input ng-model="item.is_postpaid" disabled type="checkbox">Postpaid
						</label>
				</div>
				<br />
				<div class="table-cell">
						<dl class="term-description">
								<dt>Operation</dt><dd>Rented</dd>
								<dt>From</dt><dd>{{item.date_start | date}}</dd>
								<dt>To</dt><dd>{{item.date_end | date}}</dd>
								<dt>Shipping</dt><dd>$120</dd>
								<dt>Additional</dt><dd>$20</dd>
						</dl>
				</div>
				<div class="price-section table-cell">
						<div class="price">
								<small>{{item.cost_breakup.subtotal.num_days}} Estimated Rent</small>
								<div class="price-per-unit">${{item.cost_breakup.subtotal.amt}}</div>
						</div>
						<button process-indicator="{{'PI:RemoveItem'+item.id}}" class="button green btn-small uppercase" ng-click="remove(item)">Remove</button>
				</div>
		</div>
		<div class="intro2 small-box border-box table-wrapper hidden-table-sms cart-total">
				<div class="description">
						<h4>Cart Total</h4>
				</div>

				<br />
				<div class="table-cell">
						<dl class="term-description">
								<dt>Shipping Cost</dt><dd>${{mdl.data.shipping_charge}}</dd>
								<dt>Additional</dt><dd>${{0}}</dd>

						</dl>
				</div>
				<div class="price-section table-cell">
						<div class="price"><div class="price-per-unit">${{mdl.data.total}}</div></div>

				</div>
		</div>

		<a class="button green btn-large uppercase pull-right" ng-click="checkout()">Proceed to Checkout</a>
		<a class="button dark-blue1 btn-large uppercase pull-left">Continue Renting Equipments</a>
		<div class="tour-google-map block"></div>
</div> -->
<div class="loaderDiv" loader>
    <img src="assets/images/loader.gif"/>
    <p>Excavating Awesomeness</p>
</div>
	<div class="row">
		<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-button cart-heading">
				<a class="btn all-btn grey-button">Cart ({{rmodel.cartCount || 0}})</a>
			</div>
		</div> -->
		<!-- cart empty -->
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-center" ng-if="rmodel.cartCount == 0">
			<p class="heading-text" style="margin-top: 20px;">Sorry! No items in Cart</p>
			<a class="btn all-btn primary-btn" href="#/search/" style="margin-bottom: 10px;"><i class="fa fa-chevron-left"></i> Continue Renting Equipments</a>
		</div>
		<!-- web cart -->
		<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs" ng-if="rmodel.cartCount > 0">
			<table class="table cart-table">
				<thead>
					<tr>
						<th></th>
						<th>Item</th>
						<th>Qty</th>
						<th>Price</th>
						<th>Details</th>
						<th>Subtotal<th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in mdl.data.rental_products">
						<td class="img-td">
							<img ng-src="{{(item.product.image) || 'http://placehold.it/166x150'}}" alt="">
						</td>
						<td class="description-td">
							<h4 class="pointerhover" ui-sref="main.equiDetails({id:item.product.id})">{{item.product.name}}</h4>
							<p>
								<i class="fa fa-calendar"></i>
							{{item.date_start | date}} to
							{{item.date_end | date}}
							</p>
							<p class="bold-font">
							Operation: Rented
							</p>
							<p>
								<!-- <a href="">Bookmark and Remove</a> -->
								<a href="" ng-click="remove(item)">
									<i class="fa fa-trash"></i>
								</a>
							</p>
						</td>
						<td class="qty-td">
							<select ng-change="update(item)" ng-model="item.qty" ng-options="qty for qty in mdl.qtys" class="form-control white-bg">
								<option value="">Select</option>
						</select>
						</td>
						<td class="description-td">
							<h4 style="color: #2d3e52">${{item.cost_breakup.subtotal.prices.hourly_price * item.cost_breakup.subtotal.rent_period.final.hours}}</h4>
							<p>Shipping: <span class="bold-font">${{item.cost_breakup.shipping.amt}}</span></p>
							<p>Additional: <span class="bold-font">${{item.cost_breakup.additional_charge[0].amt}}</span></p>
							<p></p>
						</td>
						<td class="details-td">
							<p>
								<input ng-model="item.is_postpaid" disabled type="checkbox"> Postpaid
							</p>
							<select ng-change="update(item)" ng-model="item.shipping_kind" ng-options="key as value for (key,value) in mdl.shippingKinds" class="form-control white-bg">
								<option value="">Order Type</option>
							</select>
						</td>
						<td class="cost-td">

							<h4 class="bold-font">${{item.cost_breakup.subtotal.amt}}</h4>
							<!-- <p>Shipping: <span class="pull-right">${{item.cost_breakup.additional_charge[0].amt}}</span></p> -->
							<!-- <p>Additional: <span class="pull-right">${{item.cost_breakup.shipping.amt}}</span></p> -->
							<!-- <p>Estimated Rent: <span class="pull-right">${{item.cost_breakup.subtotal.amt}}</span></p> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- mobile cart -->
		<div class="col-xs-12 visible-xs no-padding" ng-if="rmodel.cartCount > 0">
			<article class="col-xs-12 mobile-cart" ng-repeat="item in mdl.data.rental_products">
				<figure>
					<a href="#" title="" class="hover-effect pull-center"><img ng-src="{{(item.product.image) || 'http://placehold.it/166x150'}}" alt="" class="inline-block"></a>
				</figure>
				<div class="col-xs-12 no-padding devider"></div>
				<div class="col-xs-12 no-padding details">
					<h4 class="box-title bold-font" style="margin-bottom: 5px;">{{item.product.name}}</h4>
					<div class="col-xs-12 no-padding amenities">
						<p class="no-margin">
							{{item.date_start | date}} to
							{{item.date_end | date}}
						</p>
					</div>
					<div class="col-xs-12 no-padding">
						<p class="no-margin bold-font">
							Operation: Rented
						</p>
						<p class="bold-font" style="margin-bottom: 5px;">Quantity:
						</p>
						<select ng-change="update(item)" ng-model="item.qty" ng-options="qty for qty in mdl.qtys" class="form-control white-bg pull-right">
								<option value="">Select</option>
						</select>
					</div>
					<div class="col-xs-12 no-padding">
						<p style="margin-bottom: 5px; margin-top: 5px;">
							<input ng-model="item.is_postpaid" disabled type="checkbox"> Postpaid
						</p>
						<select ng-change="update(item)" ng-model="item.shipping_kind" ng-options="key as value for (key,value) in mdl.shippingKinds" class="form-control white-bg pull-right">
							<option value="">Order Type</option>
						</select>
					</div>
					<div class="col-xs-12 no-padding">
						<div class="col-xs-4 price-col-mobile">
							<p>Cost</p>
							<h3 class="bold-font">${{item.cost_breakup.subtotal.amt}}</h3>
						</div>
						<div class="col-xs-4 price-col-mobile">
							<p>Shipping</p>
							<h3 class="bold-font">${{item.cost_breakup.shipping.amt}}</h3>
						</div>
						<div class="col-xs-4 price-col-mobile">
							<p>Additional</p>
							<h3 class="bold-font">${{item.cost_breakup.additional_charge[0].amt}}</h3>
						</div>
					</div>
					<div class="col-xs-12 devider"></div>
					<div class="col-xs-12 no-padding estim-rate">
						<p class="no-margin">Estimated Rent: <span class="pull-right bold-font">${{item.cost_breakup.subtotal.amt}}</span></p>
					</div>
					<div class="col-xs-12 devider"></div>
					<div class="col-xs-12 no-padding action pull-center cart-action">
						<!-- <a href="" class="text">Bookmark and Remove</a> -->
						<a href="" class="pull-right" ng-click="remove(item)">
							<i class="fa fa-trash"></i>
						</a>
					</div>
				</div>
			</article>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="rmodel.cartCount > 0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding total-amount-col">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-8 col-md-offset-8 col-sm-offset-8 total-amount-pay">
					<p class="text-left">Shipping Cost: <span class="pull-right bold-font">$123</span></p>
					<p class="text-left">Additional Charges: <span class="pull-right bold-font">$123</span></p>
					<div class="devider-solid"></div>
					<p class="text-left">Amount Payable: &nbsp<span class="pull-right bold-font">${{mdl.total}}</span></p>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="rmodel.cartCount > 0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-button">
				<a class="btn all-btn primary-btn" href="#/search/" style="margin-bottom: 10px;"><i class="fa fa-chevron-left"></i> Continue Renting Equipments</a>
				<button class="btn all-btn pull-right primary-btn" ng-click="checkout()">Checkout</button>
			</div>
		</div>
	</div>
