<!-- <div class="edit-profile">
    <form validate-form name="changePwdMdl.form" novalidate class="edit-profile-form">
        <h2>Change Password</h2>

        <div class="col-sm-9 no-padding no-float">
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Existing Password</label>
                        <input type="password" name="existingPassword" ng-model="changePwdMdl.existing" required
                               class="input-text full-width" placeholder="existing password">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>New Password</label>
                        <input type="password" name="newPassword" ng-model="changePwdMdl.new" required
                               class="input-text full-width" placeholder="new password">
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sms-6 col-sm-6">
                    <div>
                        <label>Confirm Password</label>
                        <input type="password" name="confirmPassword" ng-model="changePwdMdl.confirm" required
                               class="input-text full-width" placeholder="confirm password">
                    </div>
                </div>
            </div>


            <div class="from-group">
                <button type="submit" ng-click="changePassword()" class="btn all-btn">CHANGE</button>
                <button ui-sref="main.account.profile.view" class="btn all-btn cancel-btn">CANCEL
                </button>
            </div>

        </div>
    </form>
</div> -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding image-box box">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 setting-heading">
        <h4>Change Password</h4>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
        <hr class="no-tmargin">
    </div>
    <div class="invoice-address buyer-order-detail col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding setting-edit-form" style="margin-bottom: 0;">
        <form validate-form name="changePwdMdl.form" novalidate class="edit-profile-form">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <p class="orange-text">Old Password:</p>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 no-lpadding">
                <input type="password" name="newPassword" ng-model="changePwdMdl.new" required class="form-control" placeholder="New Password">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <p class="orange-text">New Password:</p>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 no-lpadding">
                <input type="password" name="newPassword" ng-model="changePwdMdl.new" required class="form-control" placeholder="New Password">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <p class="orange-text">Confirm Password:</p>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 no-lpadding">
                <input type="password" name="confirmPassword" ng-model="changePwdMdl.confirm" required class="form-control" placeholder="Confirm Password">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right edit-action-btn">
                <button type="submit" ng-click="changePassword()" class="btn all-btn primary-btn">Change</button>
                <button ui-sref="main.profile.view" class="btn all-btn primary-btn">Cancel</button>
            </div>
        </form>
    </div>
</div>