<div class="booking-information travelo-box" style="margin-bottom: 0px; padding: 20px 30px 1px;">

    <h2>Invoice Details</h2>
    <dl class="term-description">
        <dt>Order number:</dt><dd>{{mdl.invoice.order.id}}</dd>
    </dl>
    <hr />
    <div class="row invoice-address align-address">
        <div class="col-md-4">
            <h2>Shipping Address</h2>
            <dl class="term-description">
                <dd>{{mdl.item.invoice.order.shipping_address.first_name}} {{mdl.item.invoice.order.shipping_address.last_name}}</dd>
                <dd>{{mdl.item.invoice.order.shipping_address.address1+' '+mdl.item.invoice.order.shipping_address.address2}}</dd>
                <dd>{{mdl.item.invoice.order.shipping_address.city.name}}-{{mdl.item.invoice.order.shipping_address.zip_code}}</dd>
                <dd>{{mdl.item.invoice.order.shipping_address.country.name}}</dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h2>Billing Address</h2>
            <dl class="term-description">
                <dd>{{mdl.item.invoice.order.billing_address.first_name}} {{mdl.item.invoice.order.billing_address.last_name}}</dd>
                <dd>{{mdl.item.invoice.order.billing_address.address1+' '+mdl.item.invoice.order.billing_address.address2}}</dd>
                <dd>{{mdl.item.invoice.order.billing_address.city.name}}-{{mdl.item.invoice.order.billing_address.zip_code}}</dd>
                <dd>{{mdl.item.invoice.order.billing_address.country.name}}</dd>
            </dl>
        </div>
    </div>

</div>
<div id="tour-details" class="travelo-box order-details" style="padding-top: 0px;">
    <div class="intro2 small-box border-box table-wrapper hidden-table-sms">
        <div class="image-container table-cell" style="width: 100px;"><img src="http://placehold.it/80x80" alt=""></div>
        <div class="description" style="width: 250px;">
            <h4>Hiren product name</h4>
        </div>
        <div class="table-cell" style="width: 400px;">
            <dl class="term-description" style="width: 49%; float: left;">
                <dt>Rented For</dt><dd>12 days</dd>
                <dt>Order Type</dt><dd>Postpaid</dd>
                <dt>Quantity</dt><dd>3</dd>
            </dl>
            <dl class="term-description" style="width: 49%; float: left;">
                <dt>Shipping</dt><dd>$100</dd>
                <dt>Overuse</dt><dd>$178</dd>
                <dt>Additional</dt><dd>$230</dd>
            </dl>
        </div>

        <div class="price-section table-cell">
            <div class="price">
                <div class="price-per-unit">$1200</div>
            </div>
        </div>
    </div>
    <div class="intro2 small-box border-box table-wrapper hidden-table-sms cart-total">
        <div class="description">
            <h4>Cart Total</h4>
        </div>

        <br />
        <div class="table-cell">
            <dl class="term-description">
                <dt>Shipping Cost</dt><dd>$50</dd>
                <dt>Overusage</dt><dd>$215</dd>
                <dt>Additional</dt><dd>${{mdl.item.additional_charge}}</dd>
            </dl>
        </div>
        <div class="price-section table-cell">
            <div class="price"><div class="price-per-unit">${{mdl.item.total}}</div></div>
        </div>
    </div>
    <button class="button green btn-large uppercase pull-left">Back to Invoice List</button>
    <button class="button green btn-large uppercase pull-right">Download PDF</button>
    <button style="margin-right:4px;" class="button green btn-large uppercase pull-right green-bg" ui-sref="main.sellerAccount.invoices.edit({id:0})">Edit Invoice</button>
</div>

